

body{
    /*height: 100%;*/
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

}
.division{
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}
.container{
    height: 58.5rem;
    width: 100%;
    background: #fff;
}

.error-row {
    width: 100%;
    height: 10%;
    position: absolute;
    margin-top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 1vw;
    font-family: Flama-Basic;
}

.header{
    background: #cc0000;
    display: flex;
    height: 2%;
    width: 100%;
}

.dash-section{
    height: 93.5%;
    width: 100%;
    position: relative;
}
.line-div{
    background-image: url('../../app/asset/image/line_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
}
.left-side{
    width: 50%;
    height: 100%;
}
.right-side{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section{
    height: 75%;
    width: 70%;
    position: relative;
}
.logo-row{
    width: 100%;
    height: 17%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-div{
    height: 100%;
    width: 17%;
}

.user-email{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 20%;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-forgot-div{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Medium;
    font-size: 1.2vw;
    color: #cc0000;
}
.otp-icon{
    font-size: 1vw;
    position: absolute;
    left: 21%;
}
.eyes {
    position: absolute;
    right: 21%;
    top: 40%;
    cursor: pointer;
}

#remove1{
    position: absolute;
    right: 12%;
    display: none;
    cursor: pointer;
}

#remove2{
    position: absolute;
    right: 12%;
    cursor: pointer;
}

#remove3{
    position: absolute;
    right: 12%;
    display: none;
    cursor: pointer;
}

#remove4{
    position: absolute;
    right: 12%;
    cursor: pointer;
}



.user-row{
    width: 100%;
    height: 9%; 
    position: absolute;
    top: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-row:after{
    content: "";
    position: relative;
}

#inputuser{
    position: absolute;
    left: 21%;
}

.user-input{
    height: 100%;
    width: 60%;
    font-size: 1vw;
    border: 1px solid #333333;
    font-family: Flama-Basic;
    padding-left: 35px;
    outline: none;
}

.opt-error-row{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 43.5%;
}

.otp-correct{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 20%;
    color: green;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: block;
}

.otp-incorrect{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 20%;
    color: #cc0000;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: none;
}
.pass-correct{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 20%;
    color: green;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: none;
}

.pass-incorrect{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 20%;
    color: #cc0000;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: block;
}
.opt-match{
    position: absolute;
    left: 15%; 
}
/*.not-match{
    position: absolute;
    left: 15%;
}*/

.correct-icon{
    position: absolute;
    left: 5%;
    top: 10%;
}

.new-pass{
    width: 100%;
    height: 9%;
    position: absolute;
    top: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.pass-new{
    width: 60%;
    height: 100%;
    font-family: Flama-Basic;
    font-size: 1vw;
    padding-left: 35px;
    outline: none;
    border: 1px solid #333333;
}

.new-pass-error{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 58.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Basic;
    font-size: 1vw;
}

.confirm-pass{
    width: 100%;
    height: 9%;
    position: absolute;
    top: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-error-row{
    width: 100%;
    height: 5%;
    position: absolute;
    top: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resend-lbl{
    width: 25%;
    height: 6%;
    position: absolute;
    top: 80%;
    left: 55%;
    color: #fff;
    font-family: Flama-Basic;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.resend-otp-lbl{
    color: #cc0000;
}
.resend-otp-lbl:hover {
    color: #000;
    cursor: pointer;
}


.btn-resend-pwd{
    width: 100%;
    height: 8%;
    position: absolute;
    top: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resend-email{
    height:100%;
    width: 25%;
    border: 2px solid #000;
    color: #000;
    font-family: Flama-Basic;
    font-size: 1vw;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 20%;
    top: 0%;
    z-index: 10;
    outline: none;
}

.resend-email:hover {
    background: #cc0000;
    color: #fff;
    cursor: pointer;
    border: none;
}
.login-back{
    width: 50%;
    height: 8%;
    top: 87%;
    left: 40%;
    position: absolute;
}

.back-login{
    height:100%;
    width: 55%;
    border: 2px solid #000;
    color: #000;
    font-family: Flama-Basic;
    font-size: 1vw;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    left: 25%;
    top: 0%;
    z-index: 10;
}
.back-login:hover {
    background: #cc0000;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
}

.email-exits{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 95%;
    color: #cc0000;
    font-family: Flama-Basic;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer{
    background: #333333;
    height: 5%;
    width: 100%;
}



@media only screen and (max-width:1850px){
    .container{
        height: 56.5rem;
    }

}

@media only screen and (max-width:1800px){
    .container{
        height: 55rem;
    }

}

@media only screen and (max-width:1750px){
    .container{
        height: 53.5rem;
    }

}

@media only screen and (max-width:1700px){
    .container{
        height: 52rem;
    }

}

@media only screen and (max-width:1650px){
    .container{
        height: 51.5rem;
    }

}

@media only screen and (max-width:1600px){
    .container{
        height: 47.5rem;
    }

}



@media only screen and (max-width:1550px){
    .container{
        height: 47.5rem;
    }

}

@media only screen and (max-width:1500px){
    .container{
        height: 46rem;
    }

}

@media only screen and (max-width:1450px){
    .container{
        height: 44.5rem;
    }

}

@media only screen and (max-width:1400px){
    .container{
        height: 39rem;
    }
}

@media only screen and (max-width:1350px){
    .container{
        height: 41.5rem;
    }
}

@media only screen and (max-width:1300px){
    .container{
        height: 40rem;
    }
}
@media only screen and (max-width:1250px){
    .container{
        height: 38.5rem;
    }
}
@media only screen and (max-width:1200px){
    .container{
        height: 37rem;
    }
}
@media only screen and (max-width:1150px){
    .container{
        height: 35.5rem;
    }
}
@media only screen and (max-width:1100px){
    .container{
        height: 34rem;
    }
}
@media only screen and (max-width:1050px){
    .container{
        height: 32.5rem;
    }
}

@media only screen and (max-width:1000px){
    .container{
        height: 31rem;
    }
}

