::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

body {
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
}

.division {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.container {
    height: 933px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-row: 2% 13% 40% 5%;
    overflow: hidden;
    background: #fff;
}

.btn-dashboard {
    position: absolute;
    bottom: 8%;
    right: 4%;
    padding: 15px 45px;
    background: #cc0000;
    border: 1px solid #cc0000;
    color: #fff;
    outline: none;
    border-radius: 3px;
    font-size: 1.2vw;
    cursor: pointer;
    font-family: Flama-Basic;
    transition: 0.3s;
}

.btn-dashboard:hover {
    background: #b30000;
}
.header {
    background: #cc0000;
    display: flex;
    height: 18px;
}

.navigation {
    display: flex;
    height: 151px;
    position: relative;
    background: #fff;
}

.section {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-row: 100%;
    position: relative;
    background: #fff;
}

.left-section {
    background: #fff;
}

.knowledge-title {
    width: 31.2%;
    height: 17%;
    position: absolute;
    text-align: center;
    display: table;
}

.title-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.8vw;
    font-family: Flama-Medium;
}

.knowledge-image {
    width: 28%;
    height: 74%;
    position: absolute;
    bottom: 14%;
    left: 1.5%;
}

.middle-section {
    background: #fff;
    height: 100%;
    /*background-color: #ddd;*/
}


/*mid-section css starts*/

.r-div01 {
    width: 29%;
    height: 88px;
    background-color: transparent;
    float: right;
    position: absolute;
    margin-left: 1.5%;
    margin-top: 10px;
}

.inside01 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #7ed321;
    text-align: center;
}

.div-text01 {
    padding-top: 25px;
    font-family: Flama-basic;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: 1.56px;
    text-align: center;
    color: #ffffff;
}

.r-div1-inside01 {
    width: 70%;
    height: 85px;
    background-color: transparent;
    margin-bottom: 20px;
    position: relative;
    margin-left: 26%;
}

.div-text02 {
    padding-top: 25px;
    font-family: Flama-Medium;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.56px;
    text-align: left;
    color: #7ed321;
}

.R_div02_outer {
    background-color: transparent;
    width: 98%;
    height: 67px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.R_div02 {
    width: 86%;
    height: auto;
    border-radius: 23px;
    background-color: #7ed321;
    margin-left: 5%;
    padding: 7px;
}

#label01 {
    padding-left: 0px;
    font-family: Flama-Light;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333333;
    background-color: red;
    word-break: break-all;
    word-wrap: break-word;
}

.ans_text01 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    word-break: break-all;
    font-family: Flama-Basic;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: left;
    color: #ffffff;
}

.R_div03 {
    width: 86%;
    height: auto;
    border-radius: 23px;
    background-color: #7ed321;
    margin-left: 5%;
    padding: 7px;
}

.R_div03_outer {
    background-color: transparent;
    width: 98%;
    height: 67px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#label02 {
    padding-left: 0px;
    font-family: Flama-Light;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333333;
}

.ans_text02 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    word-break: break-all;
    font-family: Flama-Basic;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: left;
    color: #ffffff;
}

.R_div04 {
    width: 86%;
    height: auto;
    border-radius: 23px;
    background-color: #7ed321;
    margin-left: 5%;
    padding: 7px;
}

.R_div04_outer {
    background-color: transparent;
    width: 98%;
    height: 67px;
    margin-top: 15px;
    margin-bottom: 35px;
}

#label04 {
    padding-left: 0px;
    font-family: Flama-Light;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333333;
}

.ans_text04 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    word-break: break-all;
    font-family: Flama-Basic;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: left;
    color: #ffffff;
}

.R_div05 {
    width: 86%;
    height: auto;
    border-radius: 23px;
    background-color: #7ed321;
    margin-left: 5%;
    padding: 7px;
    margin-bottom: 30px;
}

.R_div05_outer {
    background-color: transparent;
    width: 98%;
    height: 67px;
    margin-top: 15px;
}

#label05 {
    padding-left: 0px;
    font-family: Flama-Light;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333333;
}

.ans_text05 {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    word-break: break-all;
    font-family: Flama-Basic;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.93px;
    text-align: left;
    color: #ffffff;
}


/*mid-section css ends*/

.correct-question-section {
    position: absolute;
    background: #646;
    width: 36%;
    height: 80%;
}

.question-table {
    width: 100%;
    border: 1px solid #656;
    border-collapse: separate;
    border-spacing: 3px 15px;
}

tr,
th,
td {
    border: 1px solid #656;
}

.circle-numbers {
    background: #cc0000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right-section {
    background: #fff;
    height: 100%;
}

.footer {
    background: #333333;
    height: 45px;
}

.porsche-logo {
    position: absolute;
    height: 90%;
    width: 15%;
    left: 2%;
}

.dash-logo {
    position: absolute;
    height: 20%;
    width: 2%;
    top: 25%;
    left: 70%;
}

.video-logo {
    position: absolute;
    height: 20%;
    width: 2%;
    top: 25%;
    left: 75%;
}

.menu-logo {
    position: absolute;
    height: 20%;
    width: 2%;
    top: 25%;
    left: 80%;
}

.location-logo {
    position: absolute;
    height: 20%;
    width: 1.5%;
    top: 25%;
    left: 85%;
}

.user-logo {
    position: absolute;
    height: 20%;
    width: 2%;
    top: 25%;
    left: 90%;
}

.logout-logo {
    position: absolute;
    height: 20%;
    width: 2%;
    top: 25%;
    left: 95%;
}


/*css For left Mapping Part section starts here*/

#img-map1-div1 {
    width: 102%;
    height: 100%;
    background-color: transparent;
    background-image: url('../asset/images/Left-Part-Map.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#img-map1-div1:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0.6;
}


/*css for central map partition*/

#img-map2-div2-wrapper {
    width: 100%;
    height: 96%;
    background-color: transparent;
    background-image: url('../asset/images/Center-Half-Map.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    position: relative;
    border-left: 4px dashed red;
    border-right: 4px dashed red;
}

#mapcontainer {
    width: 100%;
    height: 100%;
    position: relative;
}

#box1 {
    width: 15%;
    height: 20%;
    position: absolute;
    left: 12%;
    top: 10%;
    z-index: 1;
}

.bergen-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
}

#box2 {
    width: 16%;
    height: 20%;
    position: absolute;
    top: 37%;
    left: 19%;
    z-index: 1;
}

.berlin-icon {
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
}

.arrow-area {
    width: 93.5%;
    height: 37%;
    position: absolute;
    top: 20%;
    right: 0;
}

.top-arrow {
    width: 10%;
    height: 95%;
}

.innerbox {
    width: 40%;
    height: 15%;
    position: absolute;
    left: 26%;
    bottom: 27%;
}

.center-arrow {
    width: 20%;
    height: 100%;
}

.milan-icon {
    width: 100%;
    height: 100%;
}

#box3 {
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 15%;
    left: 6%;
    cursor: pointer;
}

.milan2istanbul {
    width: 40%;
    height: 12%;
    position: absolute;
    bottom: 10%;
    left: 25%;
}

.bottom-arrow {
    width: 100%;
    height: 100%;
}

.box4 {
    width: 21%;
    height: 20%;
    position: absolute;
    bottom: 15%;
    right: 16%;
    cursor: pointer;
}

.istanbul-icon {
    width: 100%;
    height: 100%;
}


/*ends css for central map partition*/


/*right wrong mid and right section label div css*/

.correct-que-Label {
    width: 87%;
    height: auto;
    border-radius: 10px;
    font-size: 18px;
    font-family: Flama-Light;
    padding-left: 30px;
    color: black;
}

.correct-ans-Label {
    width: 87%;
    height: auto;
    border-radius: 23px;
    font-size: 21px;
    font-family: Flama-Basic;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: #7ED321;
    color: white;
}

.wrong-que-Label {
    height: auto;
    border-radius: 10px;
    font-size: 18px;
    font-family: Flama-Light;
    padding-left: 30px;
    color: black;
}

.wrong-ans-Label {
    height: auto;
    border-radius: 23px;
    font-size: 21px;
    font-family: Flama-Basic;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    background-color: #cc0000;
    color: white;
}


/*other elements changes*/

#quiz-result {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    overflow: auto;
    height: 472px;
    width: 30%;
    right: 0%;
}

#quiz-result1 {
    background-color: transparent;
    position: relative;
    z-index: 1;
    height: 472px;
    width: 93%;
    margin-left: 5%;
    overflow-y: auto;
}


/*other elements changes*/

.R-div1 {
    width: 29.8%;
    height: 88px;
    background-color: transparent;
    float: right;
    position: absolute;
    margin-left: 1.5%;
    margin-top: 10px;
}


/*update-part-end*/

.inside1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #cc0000;
    text-align: center;
}

.div-text {
    padding-top: 25px;
    font-family: Flama-Basic;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: 1.56px;
    text-align: center;
    color: #ffffff;
}


/*update-part*/

.R-div1-inside2 {
    width: 70%;
    height: 85px;
    background-color: transparent;
    margin-bottom: 20px;
    position: relative;
    margin-left: 32%;
}


/*update-part-end*/

.div-text2 {
    padding-top: 25px;
    font-family: Flama-Medium;
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.56px;
    text-align: left;
    color: #cc0000;
}


/*.inside1{width:100%;height: 85px;float: right;background-color: purple;}*/

.R_div2_outer {
    background-color: transparent;
    width: 98%;
    height: 67px;
    margin-top: 40px;
    margin-bottom: 35px;
}


/*update-part*/

#que_Label_1 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#que_Label_2 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#que_Label_01 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#que_Label_02 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#que_Label_03 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#que_Label_04 {
    width: 83%;
    height: auto;
    background-color: transparent;
    margin-left: 47px;
    position: relative
}

#label1 {
    padding-left: 0px;
    font-family: Flama-Light;
    font-size: 1em;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #333333;
}


/*update-part-end*/


/*Ends css for right map partition*/

@media only screen and (max-width:1250px) and (max-height:720px) {
    .div-text2 {
        font-size: 2.5vw;
        text-align: center;
    }
    .container {
        height: 600px;
    }
    .section {
        height: 435px;
        background: #fff;
    }
    .div-text02 {
        font-size: 2.5vw;
        text-align: left;
    }
}

@media only screen and (max-width:1650px) {
    .container {
        height: 900px;
        background: #365;
    }
    .header {
        background: #cc0000;
        display: flex;
        height: 18px;
    }
    .navigation {
        /*background: lightblue;*/
        height: 150px;
    }
    .section {
        /*background: yellow;*/
        height: 690px;
    }
    .footer {
        background: #333333;
        height: 42px;
    }
    .container {
        height: 625px;
    }
    .navigation {
        height: 103px;
        background: #fff;
    }
    .section {
        height: 462px;
        background: #fff;
    }
    /*css For left Mapping Part section starts here*/
    /*css for central map partition*/
    #quiz-result1 {
        background-color: transparent;
        position: relative;
        z-index: 1;
        height: 250px;
        width: 93%;
        margin-left: 5%;
        overflow-y: auto;
    }
    /*ends css for central map partition*/
    /*css for right map partition*/
    #quiz-result {
        background-color: transparent;
        position: absolute;
        z-index: 1;
        overflow: auto;
        height: 249px;
        width: 30%;
        right: 0%;
    }
    .inside1 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #cc0000;
        text-align: center;
    }
    .inside01 {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #7ed321;
        text-align: center;
    }
    .div-text01 {
        padding-top: 25px;
        font-family: Flama-basic;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 25px;
        letter-spacing: 1.56px;
        text-align: center;
        color: #ffffff;
    }
    .div-text {
        padding-top: 25px;
        font-family: Flama-Basic;
        font-size: 30px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 25px;
        letter-spacing: 1.56px;
        text-align: center;
        color: #ffffff;
    }
    .knowledge-image {
        width: 28%;
        height: 74%;
        position: absolute;
        bottom: 10%;
        left: 1.5%;
    }
    .knowledge-title {
        width: 31.2%;
        height: 17%;
        position: absolute;
        text-align: center;
        display: table;
        top: 2.1%;
    }

    .btn-dashboard{
        bottom: 4%;
        padding: 11px 30px;
    }
    /*Ends css for right map partition*/
}

@media only screen and (max-width:1120px) {
    .div-text2 {
        font-size: 2.2vw;
        text-align: center;
    }
    .div-text02 {
        font-size: 2.5vw;
        text-align: center;
    }
}