::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

body {
    /*height: 100%;*/
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.division {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.container {
    height: 58.5rem;
    width: 100%;
    /*background: #fff;*/
}

.line-div {
    background-image: url('../image/line_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 9;
}

.header {
    background: #cc0000;
    display: flex;
    height: 2%;
    width: 100%;
}

.section {
    height: 93%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background: #fff;
    display: flex;
    background-image: url('../icon/line_image.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-left-side {
    width: 80%;
    height: 100%;
}


/*m-right-side{
    width: 20%;
    height: 100%;
    background: #545;
}*/

.nav-header {
    width: 100%;
    height: 17%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porsche-logo {
    width: 17%;
    height: 90%;
    position: absolute;
    left: 2%;
}

.dashboard-section {
    width: 100%;
    height: 83%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.icon-section {
    width: 15%;
    height: 100%;
    border-right: 1px solid #cccccc;
    position: relative;
}

.m-dash-logo {
    width: 18%;
    height: 5%;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
}

.m-menu-logo {
    width: 18%;
    height: 5%;
    margin-top: 80%;
    margin-left: 40%;
    position: absolute;
}

.m-play-logo {
    width: 8%;
    height: 3%;
    margin-top: 133%;
    margin-left: 45%;
    position: absolute;
}

.play-txt {
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 148%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.m-user-logo {
    width: 18%;
    height: 5%;
    margin-top: 190%;
    margin-left: 40%;
    position: absolute;
}

.user-txt {
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 205%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.m-logout-logo {
    width: 18%;
    height: 5%;
    margin-top: 250%;
    margin-left: 40%;
    position: absolute;
}

.data-section {
    width: 85%;
    height: 100%;
}

.dropdown-data {
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
}

.drop-result {
    width: 29%;
    height: 90%;
    position: absolute;
    left: 3%;
}

.select-resultlist {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    font-family: Flama-Basic;
    font-size: 1vw;
}

.opt-result {
    font-family: Flama-Basic;
    font-size: 1vw;
    background: #fff;
}

.opt-result:hover {
    background: #cc0000;
    color: #fff;
}

.drop-team {
    width: 29%;
    height: 90%;
    position: absolute;
    left: 34%;
}

.reg-data {
    width: 100%;
    height: 35%;
}

.quantity-sale-counts {
    width: 95%;
    height: 90%;
    background: #f9f9f9;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.counts-status {
    width: 73%;
    height: 100%;
    background: #f9f9f9;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
}

.section-count1 {
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    border-right: 2px solid grey;
}

.section-count-c2 {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
}

.sale-row1 {
    width: 94%;
    height: 25%;
    position: absolute;
    left: 3%;
    top: 5%;
}

.heading1 {
    display: table;
    position: absolute;
    width: 45%;
    height: 98%;
    left: 0;
    text-align: center;
    font-family: Flama-Basic;
    color: rgba(51, 51, 51, 0.58);
    font-size: 1.4vw;
}

.heading2 {
    display: table;
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
    text-align: center;
    font-family: Flama-Basic;
    color: rgba(51, 51, 51, 0.58);
    font-size: 1.4vw;
}

.heading1-txt {
    display: table-cell;
    vertical-align: middle;
}

.heading2-txt {
    display: table-cell;
    vertical-align: middle;
}

.sale-row2 {
    width: 94%;
    height: 25%;
    position: absolute;
    left: 3%;
    top: 37%;
}

.heading3 {
    display: table;
    position: absolute;
    width: 45%;
    height: 100%;
    left: 0;
    text-align: center;
    font-family: Flama-Medium;
    color: #000;
    font-size: 1.4vw;
}

.heading4 {
    display: table;
    position: absolute;
    width: 45%;
    height: 100%;
    right: 0;
    text-align: center;
    font-family: Flama-Medium;
    color: #000;
    font-size: 1.4vw;
}

.heading3-txt {
    display: table-cell;
    vertical-align: middle;
}

.heading4-txt {
    display: table-cell;
    vertical-align: middle;
}

.sale-row3 {
    width: 94%;
    height: 28%;
    position: absolute;
    left: 3%;
    bottom: 5%;
}

.heading5 {
    width: 100%;
    height: 48%;
    position: absolute;
    top: 0;
    text-align: left;
    font-family: Flama-Medium;
    color: #000;
    font-size: 1vw;
}

.heading6 {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    text-align: left;
    font-family: Flama-Medium;
    color: rgba(51, 51, 51, 0.58);
    font-size: 1vw;
}

.heading5-txt {
    display: table-cell;
    vertical-align: middle;
}

.heading6-txt {
    display: table-cell;
    vertical-align: middle;
}

.journey-data {
    width: 100%;
    height: 55%;
}


/* Feddback section */

m-right-side {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-row {
    width: 4%;
    height: 7%;
    position: absolute;
    right: 5%;
    top: 5%;
}

.notify-img {
    width: 50%;
    height: 60%;
    position: absolute;
    bottom: 0%;
}

.notify-circle {
    width: 50%;
    height: 60%;
    background: #cc0000;
    position: absolute;
    right: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Flama-Basic;
    font-size: 1vw;
}

.top-team-div {
    width: 16%;
    height: 30%;
    position: absolute;
    top: 15%;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-img {
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
}

.top-team-txt {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Medium;
    font-size: 1.4vw;
}

.top-team-name {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Basic;
    font-size: 1vw;
}

.activity-div {
    width: 16%;
    height: 6%;
    position: absolute;
    top: 46%;
    right: 2%;
    font-family: Flama-medium;
    font-size: 2vw;
}

.feed-div {
    width: 16%;
    height: 40%;
    position: absolute;
    top: 56%;
    right: 2%;
    overflow: auto;
}

.feed-row {
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
    border-bottom: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user-feed-div {
    width: 18%;
    height: 76%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.feed-txt-div {
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
}

.feed-txt-name {
    font-family: Flama-Basic;
    font-size: 1vw;
}

.feed-txt-report {
    font-family: Flama-Light;
    font-size: 1vw;
}


/* Feeddback section end */

.footer {
    background: #333333;
    height: 5.1%;
    width: 100%;
    /*border: 1px solid red;*/
}


/*button css*/

.change-btn {
    width: 26.9%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f9f9f9;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-label-btn {
    width: 80%;
    height: 20%;
    background-color: #cc0000;
    position: absolute;
    top: 7%;
    border-radius: 30px;
    outline: none;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
}

.used-label-btn {
    width: 80%;
    height: 20%;
    background-color: #cc0000;
    position: absolute;
    top: 36%;
    border-radius: 30px;
    outline: none;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
}

.new-used-btn {
    width: 80%;
    height: 20%;
    background-color: #cc0000;
    position: absolute;
    bottom: 15%;
    border-radius: 30px;
    outline: none;
    font-size: 1vw;
    color: #fff;
    cursor: pointer;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: #000;
}

.active,
.btn:hover {
    background-color: #cc0000;
    color: white;
}


/*ends*/

@media only screen and (max-width:1850px) {
    .container {
        height: 56.5rem;
    }
}

@media only screen and (max-width:1800px) {
    .container {
        height: 55rem;
    }
}

@media only screen and (max-width:1750px) {
    .container {
        height: 53.5rem;
    }
}

@media only screen and (max-width:1700px) {
    .container {
        height: 52rem;
    }
}

@media only screen and (max-width:1650px) {
    .container {
        height: 51.5rem;
    }
}

@media only screen and (max-width:1600px) {
    .container {
        height: 47.5rem;
    }
}

@media only screen and (max-width:1550px) {
    .container {
        height: 47.5rem;
    }
}

@media only screen and (max-width:1500px) {
    .container {
        height: 46rem;
    }
}

@media only screen and (max-width:1450px) {
    .container {
        height: 44.5rem;
    }
}


/*meri hai*/

@media only screen and (max-width:1400px) {
    .container {
        height: 39rem;
    }
}

@media only screen and (max-width:1350px) {
    .container {
        height: 41.5rem;
    }
}

@media only screen and (max-width:1300px) {
    .container {
        height: 40rem;
    }
}

@media only screen and (max-width:1250px) {
    .container {
        height: 38.5rem;
    }
}

@media only screen and (max-width:1200px) {
    .container {
        height: 37rem;
    }
}

@media only screen and (max-width:1150px) {
    .container {
        height: 35.5rem;
    }
}

@media only screen and (max-width:1100px) {
    .container {
        height: 34rem;
    }
}

@media only screen and (max-width:1050px) {
    .container {
        height: 32.5rem;
    }
}

@media only screen and (max-width:1000px) {
    .container {
        height: 31rem;
    }
}