body{
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;

}
.division{
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}
.container{
    height: 933px;
    background-size: 100% auto;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-row: 2% 13% 40% 5%;
    overflow: hidden;
}

.header{
    background: #cc0000;
    display: flex;
    height: 18px;
}
.navigation{
    display: flex;
    height: 151px;
    position: relative;
    background: #fff;
}

.section{
    height: 713px;
    display: grid;
    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-row: 100%;
    position: relative;
}

.left-section{
    background: aliceblue;
}

.middle-section{
    background: #D8D8D8;

    /*background-color: #ddd;*/
}
.right-section{
    background: aliceblue;
}

.footer{
    background: #333333;
    height: 45px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

.container{
    height: 935px; 
}

.header{
    background: #cc0000;
    display: flex;
    height: 18px;
}
.navigation{
    height: 160px;
}


/*Left-Section-css*/

.nav-container {
    width: 100%;
    height: 100%;
    background-image: url('../../../asset/image/cars/Left-Rulse.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.divclass1 {
    width: 100%;
    height: 33%;
    position: absolute;
    top: 0;
}

.wrapper-section1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapped-object1 {
    position: absolute;
    width: 47%;
    left: 17%;
    top: 44%;
    height: 50%;
    z-index: 1;
}

.line-bottom {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
}

.divclass2 {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 33.6%;
}

.wrapper-section2 {
    position: relative;
    width: 100%;
    height: 100%
}

.wrapped-object2 {
    position: absolute;
    width: 46%;
    left: 18%;
    top: 26%;
    height: 53%;
    z-index: 1;
}

.Line_Bottom_Dashed2 {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
}

.divclass3 {
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
}

.wrapper-section3 {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapped-object3 {
    position: absolute;
    width: 46%;
    left: 20%;
    top: 20%;
    height: 60%;
    z-index: 1;
}

.Line-Bottom-Dashed3 {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
}

/*Left-Section-css-end*/



/*Main--section--css--starts*/

.main-wrapper-container {
    width: 100%;
    height: 100%;
    background-image: url('../../../asset/image/cars/group-6.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#game-heading {
    width: 75%;
    height: 8%;
    position: absolute;
    left: 6%;
    top: 4%;
}

#noteheading {
    font-family: Flama-Bold;
    font-size: 28px;
    font-stretch: normal;
    white-space: nowrap;
}


.Notes {
    width: 93%;
    height: 100%;
    position: absolute;
    left: 3%;
    text-align: justify;
    font-family: Flama-Medium;
}

.Notes-wrapper-scrollbar {
    width: 95%;
    height: 85%;
    position: absolute;
    left: 3%;
    top: 12%;
    text-align: justify;
    overflow-y: auto;
}

/*Right-side-aside-section*/

.aside-container {
    width: 100%;
    height: 100%;
    background-image: url('../../../asset/image/cars/right_Rules.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.divclass4 {
    width: 100%;
    height: 34%;
    position: absolute;
}

.wrapper-section4 {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapped-object4 {
    position: absolute;
    width: 46%;
    left: 20%;
    bottom: 8%;
    height: 53%;
    z-index: 1;
}

.Line_Bottom_Dashed4 {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
}

.divclass5 {
    width: 100%;
    height: 34%;
    position: absolute;
    top: 33.3%;
}

.wrapper-section5 {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapped-object5 {
    position: absolute;
    width: 46%;
    left: 24%;
    top: 26%;
    height: 53%;
    z-index: 1;
}

.divclass6 {
    position: absolute;
    width: 100%;
    height: 34%;
    bottom: 0;
}

.wrapper-section6 {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapped-object6 {
    position: absolute;
    width: 46%;
    left: 24%;
    top: 20%;
    height: 60%;
    z-index: 1;
}

.line-bottom-dashed6 {
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;
}

/*Right-side-aside-section-Ends*/


.porsche-logo{
    position: absolute;
    height: 90%;
    width: 15%;
    left: 2%;
}

.dash-logo{
    position: absolute;
    height: 20%;
    width: 2%;
    top: 33%;
    left: 70%;
}

.video-logo{
    position: absolute;
    height: 20%;
    width: 2%;
    top: 33%;
    left: 75%; 
}
.menu-logo{
    position: absolute;
    height: 20%;
    width: 2%;
    top: 33%;
    left: 80%;
}

.location-logo{
    position: absolute;
    height: 20%;
    width: 1.5%;
    top: 33%;
    left: 85%;
}

.user-logo{
    position: absolute;
    height: 20%;
    width: 2%;
    top: 33%;
    left: 90%;
}

.logout-logo{
    position: absolute;
    height: 20%;
    width: 2%;
    top: 33%;
    left: 95%;
}

@media only screen and (max-width:1650px){

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #cccccc; 
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #333333; 
    }

    .container{
        height: 900px; 
    }

    .header{
        background: #cc0000;
        display: flex;
        height: 18px;
    }
    .navigation{
        /*background: lightblue;*/
        height: 150px;
    }

    .section{
        /*background: yellow;*/
        height: 690px;
    }
    .footer{
        background: #333333;
        height: 42px;
    }

    .container{
        height: 625px; 
    }
    .navigation{
        height: 103px;
        background: #fff;
    }
    .section{
        height: 462px;
    }


    /*Left-Section-css*/

    .nav-container {
        width: 100%;
        height: 100%;
        background-image: url('../../../asset/image/cars/Left-Rulse.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .divclass1 {
        width: 100%;
        height: 33%;
        position: absolute;
        top: 0;
    }

    .wrapper-section1 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrapped-object1 {
        position: absolute;
        width: 47%;
        left: 17%;
        top: 44%;
        height: 50%;
        z-index: 1;
    }

    .line-bottom {
        position: absolute;
        width: 100%;
        height: 40%;
        bottom: 0;
    }

    .divclass2 {
        width: 100%;
        height: 35%;
        position: absolute;
        top: 33.6%;
    }

    .wrapper-section2 {
        position: relative;
        width: 100%;
        height: 100%
    }

    .wrapped-object2 {
        position: absolute;
        width: 46%;
        left: 18%;
        top: 26%;
        height: 53%;
        z-index: 1;
    }

    .Line_Bottom_Dashed2 {
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
    }

    .divclass3 {
        width: 100%;
        height: 33%;
        position: absolute;
        bottom: 0;
    }

    .wrapper-section3 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrapped-object3 {
        position: absolute;
        width: 46%;
        left: 20%;
        top: 20%;
        height: 60%;
        z-index: 1;
    }

    .Line-Bottom-Dashed3 {
        position: absolute;
        width: 100%;
        height: 40%;
        top: 0;
    }

    /*Left-Section-css-end*/


    /*Main--section--css--starts*/

    .main-wrapper-container {
        width: 100%;
        height: 100%;
        background-image: url('../../../asset/image/cars/group-6.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    #game-heading {
        width: 75%;
        height: 8%;
        position: absolute;
        left: 6%;
        top: 4%;
    }

    #noteheading {
        font-family: Flama-Bold;
        font-size: 28px;
        font-stretch: normal;
        white-space: nowrap;
    }


    .Notes {
        width: 93%;
        height: 100%;
        position: absolute;
        left: 3%;
        text-align: justify;
        font-family: Flama-Medium;
    }

    .Notes-wrapper-scrollbar {
        width: 95%;
        height: 85%;
        position: absolute;
        left: 3%;
        top: 12%;
        text-align: justify;
        overflow-y: auto;
    }

    /*Right-side-aside-section*/

    .aside-container {
        width: 100%;
        height: 100%;
        background-image: url('../../../asset/image/cars/right_Rules.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
    }

    .divclass4 {
        width: 100%;
        height: 34%;
        position: absolute;
    }

    .wrapper-section4 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrapped-object4 {
        position: absolute;
        width: 46%;
        left: 20%;
        bottom: 8%;
        height: 53%;
        z-index: 1;
    }

    .Line_Bottom_Dashed4 {
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0;
    }

    .divclass5 {
        width: 100%;
        height: 34%;
        position: absolute;
        top: 33.3%;
    }

    .wrapper-section5 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrapped-object5 {
        position: absolute;
        width: 46%;
        left: 24%;
        top: 26%;
        height: 53%;
        z-index: 1;
    }

    .divclass6 {
        position: absolute;
        width: 100%;
        height: 34%;
        bottom: 0;
    }

    .wrapper-section6 {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .wrapped-object6 {
        position: absolute;
        width: 46%;
        left: 24%;
        top: 20%;
        height: 60%;
        z-index: 1;
    }

    .line-bottom-dashed6 {
        position: absolute;
        width: 100%;
        height: 40%;
        top: 0;
    }

    /*Right-side-aside-section-Ends*/
}


