/*Grid section starts from below copy the contents*/

.MDivJourney {
    width: 95%;
    height: 100%;
    border-top: 2px solid #cccccc;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80%;
    margin: 0 auto;
}

.grid-row-1 {
    font-family: Flama-Medium;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    position: relative;
}

.grid-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100%;
    border-bottom: 4px dashed #cc0000;
    /*        align-self: center;
            align-content: space-between;*/
}

.grid-row-2-column1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 73%;
    grid-row-gap: 20px;
    /*      align-self: start;*/
}

.search-box-grid {
    display: table;
    border-collapse: separate;
    border-spacing: 10px 15px;
}

.search-div1 {
    width: 40%;
    height: 2.5rem;
    display: table-cell;
}

.search-div2 {
    width: 40%;
    height: 2.5rem;
    display: table-cell;
}

.table-box-grid {}

.tbl-rank-scroll {
    height: 85%;
    overflow-y: scroll;
}

.grid-row-2-column2 {
    position: relative;
    /*row-span:1 /span 2;*/
}

.wrap-grid-container {
    background-color: #f2f2f2;
}

.tbl-ranking {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    border-radius: 2px;
    overflow-y: auto;
}

.tbl-ranking tr td {
    vertical-align: middle;
}

.tbl-ranking thead tr th {
    font-family: Flama-Light;
}


/*Rank Table*/

.tbl-rank-header {
    position: sticky;
    top: 0;
}

.tbl-ranking-body {
    text-align: center;
}

.tbl-ranking-body2 {
    text-align: center;
    overflow-y: auto;
    font-size: 15px;
}

.txt-left {
    text-align: center;
}

.tbl-ranking-body tr:hover {
    background: #cc0000;
    border: 4px solid #cc0000;
    transition: all 0.3s linear;
    cursor: pointer;
    color: #ffffff;
}

.tbl-grey-row {
    background-color: #f2f2f2;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: Flama-Medium;
}

.tbl-data-eye {
    vertical-align: middle;
    text-align: center;
    border-left: 4px solid #ffffff;
    border-right: 4px solid #ffffff;
    background-color: #ffffff;
}

.div-eye {
    width: 25px;
    height: 25px;
    margin: auto;
}


/*
.red-eye-off , #id_sales:hover .red-eye-onn {
    display: block;
    transition: all 0.3s linear;
    cursor: pointer;
}

.red-eye-onn, #id_sales:hover .red-eye-off {
    display: none;
    transition: all 0.3s linear;
    cursor: pointer;
}*/

.red-eye-onn {
    display: block;
}

.red-eye-off {
    display: none;
}

.maps-div-block {
    width: 90%;
    height: 85%;
    position: absolute;
    right: 0;
    bottom: 7%;
}

.location-marker {
    width: 10%;
    height: 17%;
    border: 2px solid #cc0000;
    position: absolute;
    left: 46%;
    top: 30%;
}


/*.ranking-records-data{
    border-radius: 2px;
    background: #f2f2f2;
    width: 100%;
    height: 100px;
}*/

.ranking-records-data-scroll {
    width: 100%;
    height: 200px;
    overflow-y: auto;
    background: #abc;
}

.ranking-records-data {
    border-radius: 2px;
    background: #f2f2f2;
    width: 100%;
    position: relative;
    height: 80%;
    display: none;
    margin-top: 3.5%;
}

.div-block-top {
    position: absolute;
    width: 100%;
    height: 20%;
}

.player-name-class {
    position: absolute;
    width: 78%;
    height: 100%;
    display: table;
    padding-left: 12px;
}

.player-name-label {
    display: table-cell;
    vertical-align: middle;
    font-family: Flama-basic;
}

.div-block-top-inside {
    position: absolute;
    width: 7%;
    right: 0;
    height: 80%;
    cursor: pointer;
}

.inside-tbl-rside {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80%;
}

.table-second-ranking {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    position: absolute;
    left: 0;
    bottom: 8%;
    display: none;
    background: #f2f2f2;
    border-radius: 4px;
    height: 75%;
}

.table-second-ranking-head {
    font-family: Flama-Light;
    position: sticky;
    top: 0;
}

.table-second-ranking thead {
    font-size: 15px;
}

.tbl-row-head-name {
    color: #333333;
    font-size: 15px;
    font-family: Flama-medium;
}

.expand-head-width {
    width: 18%;
}

.player-name-txt {
    float: left;
}

.tbl-head-close-icon {
    color: #333333;
    font-size: 13px;
    font-family: Flama-medium;
    position: relative;
    height: 20px;
}

.close-me {
    width: 30px;
    height: 100%;
    float: right;
    cursor: pointer;
}


/*grid 2 entities*/

.select-box-knowledge {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 9px 0;
    border-radius: 5px;
    font-family: Flama-Light;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.58);
    border: 1.5px solid #979797;
    background-color: #ffffff;
    outline: none;
}

.select option {
    outline: none;
}

.select-box-sort-by {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 9px 0;
    border-radius: 5px;
    font-family: Flama-Light;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(51, 51, 51, 0.58);
    border: 1.5px solid #979797;
    background-color: #ffffff;
    outline: none;
}


/*end*/


/*right side table css*/

.table-rside {
    height: 87%;
    overflow: auto;
    position: relative;
}

.table-head-contents tr .tablewrap-head {
    position: sticky;
    top: 0;
    height: 2.7vh;
    background: #f2f2f2;
}

.headpos {
    position: relative;
    width: 16.5%;
}

.tbl-headname1 {
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 11;
}

.player-head-name {
    white-space: nowrap;
    position: absolute;
    z-index: 11;
}

.tbl-headname2 {
    position: absolute;
    bottom: 0;
}

.name-align {
    position: absolute;
    bottom: 0;
    width: 30%;
}

.name-btm {
    display: table-cell;
    vertical-align: bottom;
}

.name-align-last1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3.5vh;
}

.imgicon-divbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 3.5vh;
}

.name-align-last2 {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

.table-wrap-contents {
    border-collapse: collapse;
}

.tablewrap-head {
    padding: 16px;
    padding-left: 12px;
    text-align: left;
}

.table-wrap-contents {
    width: 100%;
    font-family: Flama-Light;
}

#time-adjust {
    padding-left: 0px;
}

#attempt-adjust {
    padding-left: 30px;
}

.table-wrap-contents td {
    padding: 5px;
    padding-left: 20px;
}

.table-body-contents tr {
    font-size: 10px;
    font-family: Flama-Basic;
}

.table-head-contents {
    color: #333333;
    ;
}

.table-body-contents tr:hover {
    background: #ccc;
}


/*right side table css*/