::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

body {
    /*height: 100%;*/
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.division {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.container {
    height: 58.5rem;
    width: 100%;
    /*background: #fff;*/
}

.line-div {
    background-image: url('../image/line_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: 9;
}

.header {
    background: #cc0000;
    display: flex;
    height: 2%;
    width: 100%;
}

.section {
    height: 93%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background: #fff;
    display: flex;
    background-image: url('../icon/line_image.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.m-left-side {
    width: 80%;
    height: 100%;
}


.nav-header {
    width: 100%;
    height: 17%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porsche-logo {
    width: 17%;
    height: 90%;
    position: absolute;
    left: 2%;
}

.profile-lbl{
    width: 25%;
    height: 50%;
    top: 50%;
    position: absolute;
    left: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Medium;
    font-size: 2vw;
    letter-spacing: 2px;
}

.dashboard-section {
    width: 100%;
    height: 83%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.icon-section {
    width: 15%;
    height: 100%;
    border-right: 1px solid #cccccc;
    position: relative;
}

.m-dash-logo {
    width: 18%;
    height: 5%;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
}

.m-menu-logo {
    width: 18%;
    height: 5%;
    margin-top: 80%;
    margin-left: 40%;
    position: absolute;
}

.m-play-logo {
    width: 8%;
    height: 3%;
    margin-top: 133%;
    margin-left: 45%;
    position: absolute;
}

.play-txt {
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 148%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.m-user-logo {
    width: 18%;
    height: 5%;
    margin-top: 190%;
    margin-left: 40%;
    position: absolute;
}

.user-txt {
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 205%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.m-logout-logo {
    width: 18%;
    height: 5%;
    margin-top: 250%;
    margin-left: 40%;
    position: absolute;
}

.data-section {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.data-profile{
   width: 60%;
   height: 90%;
   position: absolute;
   top: 0%;
   left: 35%;
}

.profile_details{
    width: 100%;
    height: 95%;
    font-family: Flama-Basic;
    font-size: 1.2vw;
    text-align: left;
    margin-top: 4%;
    position: relative;
}
.game-row{
    width: 100%;
    height: 10%;
    text-align: left;
    position: relative;
}
.select-game{
    height: 90%;
    width: 60%;
    position: absolute;
    right: 0%;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-family: Flama-Basic;
    font-size: 1.2vw;
    outline: none;
    background: transparent;
}

.login-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 2%;
}
.userident-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 4%;
}
.first-name-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 6%;
}
.last-name-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 8%;
}
.email-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 10%;
}
.role-row{
    width: 100%;
    height: 10%;
    position: relative;
    top: 12%;
}


/* Feeddback section end */

.footer {
    background: #333333;
    height: 5.1%;
    width: 100%;
    /*border: 1px solid red;*/
}

/*ends*/

@media only screen and (max-width:1850px) {
    .container {
        height: 56.5rem;
    }
}

@media only screen and (max-width:1800px) {
    .container {
        height: 55rem;
    }
}

@media only screen and (max-width:1750px) {
    .container {
        height: 53.5rem;
    }
}

@media only screen and (max-width:1700px) {
    .container {
        height: 52rem;
    }
}

@media only screen and (max-width:1650px) {
    .container {
        height: 51.5rem;
    }
}

@media only screen and (max-width:1600px) {
    .container {
        height: 47.5rem;
    }
}

@media only screen and (max-width:1550px) {
    .container {
        height: 47.5rem;
    }
}

@media only screen and (max-width:1500px) {
    .container {
        height: 46rem;
    }
}

@media only screen and (max-width:1450px) {
    .container {
        height: 44.5rem;
    }
}


/*meri hai*/

@media only screen and (max-width:1400px) {
    .container {
        height: 39rem;
    }
}

@media only screen and (max-width:1350px) {
    .container {
        height: 41.5rem;
    }
}

@media only screen and (max-width:1300px) {
    .container {
        height: 40rem;
    }
}

@media only screen and (max-width:1250px) {
    .container {
        height: 38.5rem;
    }
}

@media only screen and (max-width:1200px) {
    .container {
        height: 37rem;
    }
}

@media only screen and (max-width:1150px) {
    .container {
        height: 35.5rem;
    }
}

@media only screen and (max-width:1100px) {
    .container {
        height: 34rem;
    }
}

@media only screen and (max-width:1050px) {
    .container {
        height: 32.5rem;
    }
}

@media only screen and (max-width:1000px) {
    .container {
        height: 31rem;
    }
}