

body{
    /*height: 100%;*/
    width: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;

}
.division{
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}
.container{
    height: 58.5rem;
    width: 100%;
    background: #fff;
}


.header{
    background: #cc0000;
    display: flex;
    height: 2%;
    width: 100%;
}

.dash-section{
    height: 93.5%;
    width: 100%;
    position: relative;
}
.line-div{
    background-image: url('../image/line_image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
}


.nav-header{
    width: 100%;
    height: 17%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    width: 100%;
    height: 83%;
}

.car-timer{
    width: 100%;
    height: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-car{
    height: 23%;
    width: 16%;
    position: absolute;
}
.quiz-timer{
    height: 8%;
    width: 13%;
    background: #cc0000;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3vw;
    font-family: Flama-Medium;
    padding-bottom: 0.5%;
}

/* quiz section css */
.quiz-section{
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.que-ans{
    height: 90%;
    width: 65%;
    /*background: lightblue;*/
    position: relative;
    /*border: 1px solid red;*/
}
.quiz-que{
    width: 100%;
    height: auto;
    /*background: yellow;*/
    text-align: center;
    font-family: Flama-Medium;
    font-size: 1.5vw;
    /*border: 1px solid red;*/
    position: relative;
    margin-bottom: 1%;
}

.input-group-one {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

.input-group-two {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
}

.radio-btn{
   margin-left:10px;
   height: 25px;
   width: 25px;
   display: none; 
}

.first-ans {
    width: 50%;
    height: auto;
    font-size: 1.1vw;
    font-family: Flama-Basic;
    color: #333333;
    border: 1px solid #333;
    margin-right: 20px;
    padding: 1%;
    text-overflow: auto;
    overflow-x: auto;
    outline: none;
}

.second-ans {
    width: 50%;
    height: auto;
    font-size: 1.1vw;
    font-family: Flama-Basic;
    color: #333333;
    border: 1px solid #333;
    margin-left: 20px;
    padding: 1%;
    text-overflow: auto;
    overflow-x: auto;
    text-overflow: ellipsis;
    outline: none;
}

.third-ans {
    width: 50%;
    height: auto;
    font-size: 1.1vw;
    font-family: Flama-Basic;
    color: #333333;
    border: 1px solid #333;
    margin-right: 20px;
    padding: 1%;
    text-overflow: auto;
    overflow-x: auto;
    text-overflow: ellipsis;
    outline: none;
}

.fourth-ans {
    width: 50%;
    height: auto;
    font-size: 1.1vw;
    font-family: Flama-Basic;
    color: #333333;
    border: 1px solid #333;
    margin-left: 20px;
    padding: 1%;
    text-overflow: auto;
    overflow: auto;
    text-overflow: ellipsis;
    outline: none;
}

label:focus {
    background-color: #cc0000;
    color: white;
}



.quiz-btn{
    width: 100%;
    height: 12%;
    /*background: yellow;*/
    position: relative;
    bottom: 5%;
    top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atmp-que{
    width: 5%;
    height: 80%;
    left: 5%;
    position: absolute;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3vw;
    font-family: Flama-Light;
}

.select-opt{
    width: 30%;
    height: 70%;
    position: absolute;
    left: 20%;
    text-align: center;
    font-family: Flama-Basic;
    font-size: 1vw;
    color: #cc0000;
}

.cncl-btn{
    height: 100%;
    width: 15%;
    position: absolute;
    margin-left: 10%;
    border: 2px solid #333333;
    font-size: 1.3vw;
    font-family: Flama-Light;
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}
.next-btn{
    height: 100%;
    width: 15%;
    position: absolute;
    margin-left: 28%;
    background: #cc0000;
    color: #fff;
    font-size: 1.3vw;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    border:  1px solid #cc0000;
    
}



.footer{
    background: #333333;
    height: 5%;
    width: 100%;
}



@media only screen and (max-width:1850px){
    .container{
        height: 56.5rem;
    }

}

@media only screen and (max-width:1800px){
    .container{
        height: 55rem;
    }

}

@media only screen and (max-width:1750px){
    .container{
        height: 53.5rem;
    }

}

@media only screen and (max-width:1700px){
    .container{
        height: 52rem;
    }

}

@media only screen and (max-width:1650px){
    .container{
        height: 51.5rem;
    }

}

@media only screen and (max-width:1600px){
    .container{
        height: 47.5rem;
    }

}



@media only screen and (max-width:1550px){
    .container{
        height: 47.5rem;
    }

}

@media only screen and (max-width:1500px){
    .container{
        height: 46rem;
    }

}

@media only screen and (max-width:1450px){
    .container{
        height: 44.5rem;
    }

}

@media only screen and (max-width:1400px){
    .container{
        height: 39rem;
    }
}

@media only screen and (max-width:1350px){
    .container{
        height: 41.5rem;
    }
}

@media only screen and (max-width:1300px){
    .container{
        height: 40rem;
    }
}
@media only screen and (max-width:1250px){
    .container{
        height: 38.5rem;
    }
}
@media only screen and (max-width:1200px){
    .container{
        height: 37rem;
    }
}
@media only screen and (max-width:1150px){
    .container{
        height: 35.5rem;
    }
}
@media only screen and (max-width:1100px){
    .container{
        height: 34rem;
    }
}
@media only screen and (max-width:1050px){
    .container{
        height: 32.5rem;
    }
}

@media only screen and (max-width:1000px){
    .container{
        height: 31rem;
    }
}


