.modal-price {
    display: none;
    /*display: block;*/
    position: fixed;
    z-index: 9;
    /*padding-top: 100px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-invent {
    /*display: block;*/
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.reg-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    z-index: 999;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.modal-i-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
}
.reg-header {
    background-color: #cc0000;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Flama-Bold;
}
.modal-body {
    position: relative;
    z-index: 9999;
    padding-top: 2%;
    width: 96%;
    left: 2%;
    font-size: 0.8vw;
    font-family: Flama-Basic;
}
input{
    border: 1px solid #333;
    outline: none;
}

/* The Close Button */
.close {
    color: #fff;
    margin-right: 2%;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 0%;
    position: absolute;
    margin-left: 45%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-cross {
    color: #fff;
    float: right;
    margin-right: 2%;
    font-size: 2em;
    font-weight: bold;
}

.close-cross:hover,
.close-cross:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/*For table structure*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin-left: 2%
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.close-row {
    background-color: #333333;
    width: 100%;
    height: 100%;
}

.price-tbl{
    margin-left: 2%;
    font-family: Flama-Light;
    font-size: 1vw;
    cursor: grab;
}

.price-head{
    font-size: 0.8vw;
    font-family: Flama-Basic;
}

.price-data{
    display: table-cell;
    vertical-align: middle;
    font-family: Flama-Light;
    font-size: 0.8vw;
    cursor: pointer;    
}

.close-btn {
    width: 5em;
    height: 2em;
    background-color: #cc0000;
    color: #fff;
    font-family: Flama-Basic;
    font-size: 1.5em;
}

.pricelist-footer{
    width: 100%;
    height: 5vh;
    background-color: #333333;
    position: relative;
}

.btn-close {
    width: 5vw;
    height: 4vh;
    background-color: #cc0000;
    color: #fff;
    font-family: Flama-Basic;
    font-size: 1vw;
    position: absolute;
    left: 1%;
    top: 12%;
}