.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.text-contentr {
    font-size: 1.2vw;
    font-family: Flama-Basic;
    padding: 15px;
}

.tooltip h3 {
    margin: 12px 0;
}

.tooltip .right {
    /*min-width: 10%;*/
    width: 200px;
    height: 90px;
    top: 120%;
    left: 100%;
    margin-left: 15px;
    margin-top: 0px;
    transform: translate(0, -50%);
    padding: 0;
    color: #000;
    background-color: #d8d8d8;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .right {
    visibility: visible;
    opacity: 1;
}

.tooltip .right img {
/*    width: 400px;*/
    border-radius: 8px 8px 0 0;
}

.tooltip .text-content {
    padding: 5px 10px;
}

.tooltip .right i {
    position: absolute;
    top: 12%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #d8d8d8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

/*Left ToolTIp*/
.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip h3 {
    margin: 12px 0;
}

.tooltip .left {
    width: 200px;
    height: 80px;
    top: 50%;
    right: 100%;
    margin-right: 5px;
    margin-top: 75px;
    transform: translate(0, -131%);
    padding: 7px;  
    color: #000;
    background-color: #d8d8d8;
    font-weight: normal;
/*    font-size: 13px;*/
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    display: none;
}

.tooltip:hover .left {
    display: block;
    font-size: 1.2vw;
    font-family: Flama-Basic;
}

.tooltip .left i {
    position: absolute;
    top: 36%;
    left: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .left i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #d8d8d8;
}

/*ToooolTiiiippppp Toooppppp*/

.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip h3 {
    margin: 12px 0;
}

.tooltip .top {
    min-width: 250px;
    max-width: 400px;
    top: -20px;
    left: 50%;
    transform: translate(-30%, -100%);
    padding: 10px 20px;
    color: #000;
    background-color: #d8d8d8;
    font-weight: normal;
    /*font-size: 14px;*/
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip:hover .top {
    display: block;
    font-size: 1vw;
    font-family: Flama-Basic;
}

.tooltip .top i {
    position: absolute;
    top: 100%;
    left: 30%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    overflow: hidden;
}

.tooltip .top i::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #d8d8d8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}


/*Right===========Bottom=-===4=================*/
/*right TOolTip*/
.tooltip4 {
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.tooltip4 h3 {
    margin: 12px 0;
}

.tooltip4 .right4 {
    width: 200px;
    height: 90px;
    top: 50%;
    left: 100%;
    margin-left: 15px;
    margin-top: 25px;
    transform: translate(0, -50%);
    padding: 0;
    color: #000;
    background-color: #d8d8d8;
    /*font-size: 13px;*/
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip4:hover .right4 {
    visibility: visible;
    opacity: 1;
}

.tooltip4 .right4 img {
    width: 400px;
    border-radius: 8px 8px 0 0;
}

.tooltip4 .text-content4 {
    padding: 10px 20px;
    font-family: Flama-Basic;
    font-size: 1.2vw;
}

.tooltip4 .right4 i {
    position: absolute;
    top: 12%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip4 .right4 i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 68%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #d8d8d8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
