
/*new css for video modal*/
.video-modal{
    display: none;
    /*display: block;*/
    position: fixed;
    z-index: 9;
    /*padding-top: 100px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.video-content{
    /*background-color: #fefefe;*/
    margin: auto;
    width: 100%;
    height: 400px;
    z-index: 999;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
}
 
.left-v-section{
    width: 30%;
    height: 100%;
    /*border: 1px solid green;*/
    position: relative;
}
.v-section{
    width: 40%;
    height: 100%;
    position: relative;
}
.right-v-section{
    width: 30%;
    height: 100%;
    position: relative;
    /*border: 1px solid green;*/
}

.video-c{
    width: 100%;
    height: 5%;
    /*border: 1px solid gray;*/
}
.v-close{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    left: 95%;
    top: -3%;
    font-family: Flama-Medium;
}

.v-close:hover,
.v-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.video-p{
    width: 100%;
    height: 85%;
    border: 1px solid red;
}
.video-re{
    width: 100%;
    height: 10%;
    /*border: 1px solid yellow;*/
}

.replay-btn{
    height: 80%;
    width: 12%;
    background: #cc0000;
    color: #fff;
    font-size: 1vw;
}

@media only screen and (max-width:1850px){
    .video-content{
        height: 390px;
    } 
}
@media only screen and (max-width:1800px){
    .video-content{
        height: 380px;
    } 
}

@media only screen and (max-width:1750px){
    .video-content{
        height: 370px;
    } 
}
@media only screen and (max-width:1700px){
    .video-content{
        height: 360px;
    } 
}
@media only screen and (max-width:1650px){
    .video-content{
        height: 350px;
    } 
}
@media only screen and (max-width:1600px){
    .video-content{
        height: 340px;
    } 
}

@media only screen and (max-width:1550px){
    .video-content{
        height: 330px;
    } 
}

@media only screen and (max-width:1500px){
    .video-content{
        height: 320px;
    } 
}

@media only screen and (max-width:1450px){
    .video-content{
        height: 310px;
    } 
}

@media only screen and (max-width:1400px){
    .video-content{
        height: 300px;
    } 
}

@media only screen and (max-width:1350px){
    .video-content{
        height: 290px;
    } 
}

@media only screen and (max-width:1300px){
    .video-content{
        height: 280px;
    } 
}

@media only screen and (max-width:1250px){
    .video-content{
        height: 270px;
    } 
}

@media only screen and (max-width:1200px){
    .video-content{
        height: 260px;
    } 
}

@media only screen and (max-width:1150px){
    .video-content{
        height: 250px;
    } 
}

@media only screen and (max-width:1100px){
    .video-content{
        height: 240px;
    } 
}

@media only screen and (max-width:1050px){
    .video-content{
        height: 230px;
    } 
}

@media only screen and (max-width:1000px){
    .video-content{
        height: 220px;
    } 
}