body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

.not-date{
    position: relative;
}

.not-date-label{
    position:absolute;top: 10px;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.axisy1{
    transform: translateY(5px);
}

.axisy10{
    transform: translateY(30px);
}

.axisy2{
    transform: translateY(9px);
}

/*add-game CSS starts*/

.add-game-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    -webkit-column-break-inside: avoid;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.add-div-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 30px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.add-form-element {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
    /*margin-top: -20px;*/
}

.add-game-table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 100%;
}

.add-game-table td,
.add-game-table th {
    border: 5px solid transparent;
}

.lblGame,
.loginLabel {
    float: left;
    padding: 4px;
    width: 25%;
}

.txt-title {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.span-game-error {
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.span-sub-error {
    text-align: left;
    width: 62%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.span-game-error-sel1{
    text-align: left;
    width: 81.5%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.lblSubName {
    float: left;
    padding-top: 10px;
    width: 25%;
}

.label_type {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
    width: 25%;
}

.lbl-game {
    padding: 4px;
    transform: translateY(10px);
}

.sel-game {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 25%;
    margin-left: 5%;
    padding: 8px;
}

.body_content_textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.body_content_textarea2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63.5%;
    padding: 8px;
}

.body_content_textarea3 {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.body_content_textarea_ip_type {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 60%;
    padding: 8px;
}


/*.tbl_content_div{
    padding: px;
}*/

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}


/*add-game CSS ends*/

a.button7 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /*margin: 1% 2%;*/
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.btnlvlgrade {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: ease-in-out 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    /*margin-top: -92px;*/
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
    height: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    /*height: 150px;*/
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}

.h4txt {
    width: 190px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    color: #000;
}

hr {
    margin-top: -27px;
    /*margin-left: 14.9%;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

.flex1{
    width:82%;
}

.tdp_no{
    width: 50%;
}

table {
    border-bottom: 1px solid #dddddd;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 17px;
    font-weight: normal;
    font-size: 20px;
}

.main-header__heading {
    margin-top: -18px;
}

.add-alert-row {
    width: 90%;
    height: 40px;
    background-color: transparent;
    margin-left: 1.5%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    width: 180px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.h7-add-game {
    width: 180px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    margin-left: 0%;
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
    .add-alert-row {
        width: 10%;
        height: 40px;
        background-color: transparent;
        margin-left: 11%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row4 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row5 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
     .add-game-table {
        display: inline-table;
        text-align: center;
        margin: 0 10%;
        width: 80%;
    }
    .add-div-row {
        margin-left: 11%;
    }
}

@media only screen and (max-width: 1050px) {
    .tbl-block1 {
        width: 100%;
    }
    .tbl-row2 {
        display: flex;
        flex-direction: column;
    }
    .tbl-row3 {
        display: flex;
        flex-direction: column;
    }
    .tbl-row4 {
        display: flex;
        flex-direction: column;
    }
    .tdp_no{
        width: 100%;
    }
    .flex1{
        width: 62%;
        margin-right: 1.5%;
    }
    .span-game-error-sel1{
        width: 63%;
    }
    .axisy10{
        transform: translateY(0);
    }
    .not-date-label{
        position:absolute;top: 2px;width: 25%;
    }
    .main-header{
        margin-right: 0 !important;
        justify-content: space-between;
        width: 95%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 45%;
        margin-right: -27%;
        padding: 0px;
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
    .span-game-error-sel1 {
        width: 100%;
    }
}


/*add-game Media Screens*/

@media only screen and (max-width: 501px) {
    .lblGame {
        width: 100%;
    }
    .txt-title {
        display: block;
        float: left;
        width: 100%;
    }
    .lblSubName {
        width: 100%;
    }
    #select_game {
        width: 100%;
    }
    .sel-subscription {
        float: left;
        width: 100%;
    }
    .span-game-error,
    .span-sub-error {
        float: left;
    }
    .body_content_textarea {
        float: left;
        width: 100%;
    }
    .body_content_textarea3 {
        float: left;
        width: 100%;
    }
    .body_content_textarea2 {
        float: left;
        width: 100%;
    }
    .main-header {
        flex-direction: column;
    }
    .not-date-label {
        position: absolute;
        top: -18px;
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .tbl-row01 {
        display: flex;
        flex-direction: column;
    }
    .tbl-row02 {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .tbl-row03 {
        display: flex;
        flex-direction: column;
    }
    .axisy1{
        transform: translateY(0);
    }

    .axisy10{
        transform: translateY(0);
    }

    .axisy2{
        transform: translateY(0);
    }
    .row-r1{
        display: flex;
        flex-direction: column;
    }
    .row-r2{
        display: flex;
        flex-direction: column;
    }
    .row-r3{
        display: flex;
        flex-direction: column;
    }
}