.mytabledata td,
.mytabledata th {
    border: 3px solid transparent;
}

.mytabledata {
    width: 100%;
}

.loginLabel {
    float: left;
    padding: 4px;
}

.txt-login-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.tdp_no {
    width: 51.2%;
}

.data-pass{
    position: relative;
}

.eyes{
    position: absolute;
    right: 2%;  
}

#remove5 {
    font-size: 17px;
    color: #000;
    display: none;
    padding-top: 9px;
    cursor: pointer;
}

#remove6 {
    font-size: 17px;
    color: #7d7a7a;
    padding-top: 9px;
    cursor: pointer;
}


.UseridentLabel {
    float: left;
    padding: 4px;
}

.txt-userident {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblFname {
    float: left;
    padding: 4px;
}

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
    margin-top: -10px;
    background: #fff;
}

.span-err-msg {
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: auto;
    color: red;
}

.span-game-error-sel1{
    text-align: left;
    width: 81.5%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.lblLname {
    float: left;
    padding: 4px;
}

.txt-first-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-last-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblEmail {
    float: left;
    padding: 4px;
}

.lblPass {
    float: left;
    padding: 4px;
}

.user-email {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.user-pass {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-company {
    float: right;
    width: 63.5%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-role-id {
    float: right;
    width: 63.5%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

.form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

.checkbox-div {
    margin-left: 36%;
}

.check-label {
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}


/*.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


/*------------------csss for admin dropdown toggle button starts---------------------*/

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: all 0.3s ease-in;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 5px 10px;
}

.main-header__heading {
    margin-top: -18px;
}

.menu-icon {
    position: fixed;
    /* Needs to stay visible for all mobile scrolling */
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    white-space: nowrap;
}

.h4txt {
    width: 85px;
    font-size: 17px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    color: #000;
    letter-spacing: 1px;
    margin-left: 1%;
}

hr {
    margin-top: -27px;
    /*margin-left: 14.9%;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

.selip1{
    width: 81.3%;
}

table {
    border-bottom: 1px solid #dddddd;
}

.span-game-error,
.span-level-error {
    /* display: none; */
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.translationlbl1{
    transform: translateY(13px);
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}


/*table button Report section*/

a.button6 {
    background-color: #28a745;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

.CardIn {
    width: 100%;
}

.role-checkbox {
    float: right;
}

.input-LblRoleId,
.input-lblCompany {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 63%;
}

.add-alert-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 0.6%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    width: 90px;
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1px;
    color: #000;
    white-space: nowrap;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    width: 35%;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
    .add-alert-row {
        width: 10%;
        height: 40px;
        background-color: transparent;
        margin-left: 1%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row4 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row5 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
}

/*Media Screen For Responsiveness*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        /*width: 70%;*/
        max-width: 1200px;
        /*background-color: red;*/
    }
}

@media only screen and (max-width: 1114px) {
    /*    .txt-login-name {
        margin-top: -27px;
    }*/
}

@media only screen and (max-width: 1090px) {
    .txt-login-name {
        margin-top: 0px;
    }
    .mytabledata tr {
        display: flex;
        flex-direction: column;
    }
    .mytabledata td {
        width: 100%;
    }
    .sel-company,
    .sel-role-id {
        width: 61.8%;
    }
    .checkbox-div {
        margin-left: 38%;
    }
    .span-game-error-sel1{
        width: 62.5%;
    }
    .selip1 {
        width: 63%;
    }
}

@media only screen and (max-width: 578px) {
    .loginLabel,
    .UseridentLabel,
    .lblFname,
    .lblLname,
    .lblEmail,
    .lblPass,
    .lblCompany,
    .LblRoleId {
        width: 100%;
    }
    .txt-login-name,
    .txt-userident,
    .txt-first-name,
    .txt-last-name,
    .user-email,
    .user-pass,
    .input-LblRoleId,
    .input-lblCompany {
        float: none;
        width: 97%;
    }
    .sel-company,
    .sel-role-id {
        float: none;
        width: 100%;
    }
    .span-game-error {
        width: 98%;
    }
    .mytabledata td {
        width: 95%;
    }
    .checkbox-div {
        margin-left: 0%;
    }
    .sel-subscription {
        float: none;
        margin-top: 0px;
        width: 97%;
    }
    .span-err-msg {
        width: 98%;
    }
    .main-header{
        width: 95%;
    }
    .main-header__heading {
        margin-top: -22px;
    }
    .add-alert-row{
        margin-left: 3.6%;
    }
    .span-game-error-sel1 {
        width: 97.5%;
    }
    .translationlbl1{
        transform: translateY(0);
    }
    .eyes {
        right: 6%;
    }
}


@media only screen and (max-width: 477px) {
    #headerUpdates {
        padding: 0px;
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
    .main-header{
        width: 85%;
    }
    .update-button{
        margin-bottom: 10px;
    }
}
