myTablebody {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.add-game-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    -webkit-column-break-inside: avoid;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.add-div-row {
    width: 90%;
    height: 40px;
    background-color: transparent;
    margin-left: 1.6%;
    margin-top: 30px;
}

.h6-add-game {
    width: 180px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.main-header__heading {
    margin-top: -20px;
}

.add-form-element {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

.axisy3{
    transform: translateY(4px);
}

.add-game-table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 12px 10px;
    width: 100%;
}

.add-game-table td,
.add-game-table th {
    border: 5px solid transparent;
}

.lblGame,
.loginLabel {
    float: left;
    /* margin-left: 5px; */
    padding: 4px;
    width: 20%;
}

#lbl-game {
    padding: 4px;
    /* width: 20%; */
}

.txt-title {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.span-game-error {
    display: block;
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.span-sub-error {
    display: block;
    text-align: left;
    width: 62%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.span-game-error-sel1{
    text-align: left;
    width: 81.5%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.lblSubName {
    float: left;
    /*margin-left: 10px;*/
    padding-top: 10px;
    width: 25%;
}

.label_type {
    float: left;
    margin-left: 10px;
    padding-top: 10px;
    width: 25%;
}

.textarea-box1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.textarea-box2 {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
    float: right;
}


/*.body_content_textarea{
    float: right;
}*/

.body_content_textarea_ip_type {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 60%;
    padding: 8px;
}


/*.tbl_content_div{
padding: px;
}*/

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.sel-game {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 25%;
    margin-left: 5%;
    padding: 8px;
}


/*add-game CSS ends*/


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.btnlvlgrade {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.tbl-data-r1 {
    width: 50%;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}

.h4txt {
    width: 186px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    color: #000;
}

hr {
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table {
    border-bottom: 1px solid #dddddd;
}

.tdp_no{
    width: 50%;
}

.translation{
    transform: translateY(30px);
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}

.slbx1{
    width:81.9%;
}


/* Non-mobile styles, 750px breakpoint */

.select-sub-box1 {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
}

.add-alert-row {
    width: 90%;
    height: 40px;
    background-color: transparent;
    margin-left: 1.1%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    width: 186px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 748px) {
    .tbl-r1 {
        display: flex;
        flex-direction: column;
    }
    .tbl-data-r1 {
        width: 100%;
    }
    .tbl-r2 {
        display: flex;
        flex-direction: column;
    }
    .tbl-r3 {
        display: flex;
        flex-direction: column;
    }
    .tbl-r4 {
        display: flex;
        flex-direction: column;
    }
    .selct-box1 {
        width: 63%;
        margin-right: 0;
    }
}



@media only screen and (max-width: 1400px) {
    .axisx1{
        margin-left: 2%;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    .add-game-table {
        display: inline-table;
        text-align: center;
        margin: 0 10%;
        width: 80%;
    }
    .add-div-row {
        margin-left: 11%;
    }
    .add-alert-row {
        width: 10%;
        height: 40px;
        background-color: transparent;
        margin-left: 10.7%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row4 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row5 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 45%;
        margin-right: -27%;
        padding: 0px;
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}

@media only screen and (max-width: 500px) {
    .lblGame,
    .loginLabel {
        width: 100%;
    }
    .sel-subscription,
    .selct-box1 {
        float: left;
        width: 96%;
    }
    .select-sub-box1 {
        float: left;
        width: 96%;
    }
    .txt-title {
        float: left;
        width: 97%;
    }
    .lblSubName {
        width: 100%;
    }
    .body_content_textarea {
        float: left;
        width: 97%;
    }
    .textarea-box2 {
        float: left;
        width: 97%;
    }
    .textarea-box1 {
        float: left;
        width: 94%;
    }
    .tbl-rank-row {
        display: flex;
        flex-direction: column;
    }
    .tbl-subject-row {
        display: flex;
        flex-direction: column;
    }
    .span-game-error {
        width: 97%;
    }
    .span-sub-error {
        float: left;
    }
    .span-game-error-sel1{
        width: 99%;
    }
    .translation {
        transform: translateY(0);
    }
    .tdp_no{
        width: unset;
    }
    .main-header{
        flex-direction: column;
    }
}