#mytabledata td,
#mytabledata th {
    border: 3px solid transparent;
    height: 25px;
}

#mytabledata {
    width: 100%;
}

#loginLabel2 {
    float: left;
    padding: 4px;
    transform: translateX(30%);
}

#loginLabel {
    float: left;
    padding: 4px;
    transform: translateX(30%);
}

#UseridentLabel {
    float: left;
    padding: 4px;
    margin-left: 5%;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
}

#lblLname {
    float: left;
    padding: 4px;
    margin-left: 5%;
}

.txt-from-date {
    float: right;
    width: 63%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

.txt-to-date {
    float: right;
    width: 63.5%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

#lblEmail {
    float: left;
    padding: 4px;
}

#lblPass {
    float: left;
    padding: 4px;
    margin-left: 5%;
}

#lblDiploma {
    float: left;
    padding: 4px;
}

#inpEmail {
    float: right;
    width: 60%;
    padding: 4px;
}

#inpPass {
    float: right;
    width: 60%;
    padding: 4px;
}

#txtRole {
    float: right;
    width: 62.5%;
    padding: 4px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}


/*.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.main-header__heading {
    margin-top: -20px;
}


/*------------------csss for admin dropdown toggle button starts---------------------*/


/*Admin dropdown section start*/

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
    /*float: left;*/
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
    /*float: left;*/
}

.h4txt {
    font-size: 17px;
    margin-left: 1%;
    color: #000;
}

hr {
    margin-top: -27px;
    margin-left: 1%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}


/*------------------csss for admin dropdown toggle button end---------------*/

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}

a.button6 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#form-elements1 {
    font-size: 14.5px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

.txt-level-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

.sel-game {
    float: right;
    width: 62.5%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.Parent_Radiogroup1 {
    margin-left: 32%;
    margin-top: 2%;
}

.CardIn {
    width: 100%;
}


/*Error Span CSS Starts*/

.span-game-error {
    /* display: none; */
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
    position: relative;
    right: 5%;
}


/*Error Span CSS Ends*/

.add-alert-row {
    width: 78px;
    height: 40px;
    background-color: transparent;
    margin-left: 1.1%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}


/*Media Screen For Responsiveness*/


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
   
    .add-alert-row2 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row4 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row5 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
}

@media only screen and (min-width: 1450px) {
    .CardIn {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1000px) {
    .txt-level-name,
    .txt-from-date,
    .txt-to-date{
        width: 55%;
    }
    .Parent_Radiogroup1{
        margin-left: 42%;
    }
    
}
@media only screen and (max-width: 850px) {
    #loginLabel,
    #UseridentLabel,
    #lblFname,
    #lblEmail,
    #lblLname,
    #lblPass,
    #lblDiploma {
        width: 100%;
    }
    #UseridentLabel,
    #lblPass,
    #lblLname {
        margin-left: 0%;
    }
    .txt-from-date,
    .txt-to-date,
    .txt-level-name {
        float: left;
        width: 95%;
        right: 0%;
    }
    .Parent_Radiogroup1 {
        margin-left: 0%;
        
    }
    .sel-game {
        float: left;
        width: 95%;
    }
    #tbl-data-title {
        display: flex;
        flex-direction: column;
    }
    .span-game-error {
        float: left;
    }
    #loginLabel1 {
        float: left;
        margin-bottom: 3px;
    }
    
    .txt-level-name {
        width: 95%;
    }
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    #mytabledata td {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80px;
    }
    #UseridentLabel,
    #lblLname,
    #lblPass {
        margin-left: 0%;
    }
    .txt-level-name {
        width: 94%;
    }
    .sel-game {
        width: 98%;
    }
    #form-elements1 input[type="date"] {
        width: 95%;
    }
    #headerUpdates ul {
        padding: 0;
    }
    .span-game-error {
        margin-top: -15px;
    }
    #loginLabel{
        position: relative;
        top: -15px;
    }
    .txt-level-title{
        top: -15px;
    }
}

@media only screen and (max-width: 578px) {
    .txt-level-title{
      /*left: 1%;*/
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}