#mytabledata td,
#mytabledata th {
    border: 1px solid transparent;
}

#mytabledata {
    width: 100%;
}

#td1 {
    width: 30%;
}

#td2 {
    width: 50%;
}

#loginLabel {
    float: left;
    padding: 4px;
}

#txtloginname {
    float: right;
    width: 60%;
    padding: 4px;
}

#UseridentLabel {
    float: left;
    padding: 4px;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
}

#lblLname {
    float: left;
    padding: 4px;
}

#F-name {
    float: right;
    width: 60%;
    padding: 4px;
}

#L-name {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblEmail {
    float: left;
    padding: 4px;
}

#lblPass {
    float: left;
    padding: 4px;
}

#inpEmail {
    float: right;
    width: 60%;
    padding: 4px;
}

#inpPass {
    float: right;
    width: 60%;
    padding: 4px;
}

#txtcompany {
    float: right;
    width: 62.5%;
    padding: 4px;
}

#txtRole {
    float: right;
    width: 62.5%;
    padding: 4px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

.transvert {
    transform: translate(-1%, 5px);
}


/*input file type css*/

input[type=file] {
    display: block;
    border: 1px solid #ddd;
    color: #495057;
    /*height: 50px;*/
    width: 88%;
    /*padding-top: 8px;*/
    border-radius: 3px;
    padding: 8px;
}

.view_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}

.h4txt {
    width: 130px;
    margin-left: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}


/*End*/


/*main card redundant codes*/


/*repeating once Top Main card content*/

.main-cards1 {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .125);
    color: #000;
    background-color: #FFF;
}

.div_row1 {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
}

.TblWrapper {
    width: 100%;
    height: 100px;
}


/*Error Span CSS Starts*/

.span-game-error {
    display: block;
    text-align: left;
    width: 41%;
    /*float: right;*/
    font-size: 12px;
    height: 8px;
    color: red;
    position: relative;
    left: 0%;
}

.add-alert-row {
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin-left: 0.2%;
    margin-top: 30px;
    border-radius: 3px;
}

.main-header__heading {
    margin-top: -20px;
}

.h6-add-game {
    width: 115px;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}


/*Error Span CSS Ends*/


/*===============End===================*/

@media screen and (min-width:1444px) {
    .TblWrapper {
        width: 70%;
    }
}

@media screen and (max-width:1444px) {
/*    .transvert {
        transform: translate(-24%, 5px);
    }*/
}

@media screen and (max-width:768px) {
    .card1 {
        background: #fff;
        height: 390px;
    }
    #mytabledata td,
    #mytabledata th {
        border: 1px solid transparent;
        margin-bottom: 0.6em;
    }
    #Vgameid {
        white-space: nowrap;
        text-align: center;
        width: 125%;
        padding: 0px;
        margin-left: 5%;
        height: 30px;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    #headerUpdates {
        height: 50px;
        width: 125%;
        padding: 0px;
        margin: 0px;
        height: 30px;
    }
    /*
    */
    .main-header {
        text-align: center;
    }
    .fileTypeData {
        width: 100%;
    }
    .td1 {
        width: 100%;
    }
    .td2 {
        width: 100%;
    }
    .tbl-rowlabel1 {
        display: flex;
        flex-direction: column;
    }
    .tbl-data-video {
        display: flex;
        flex-direction: column;
    }
    .span-game-error{
        top: 10%;
        bottom: 5%;
        /*left: -18%;*/
    }
}

@media screen and (max-width:481px) {
    .TblWrapper {
        width: 100%;
        height: 100px;
    }
    #td1 {
        width: 100%
    }
    #td2 {
        width: 150%;
    }
}