body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: ease-in-out 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #090d10;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -100px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

#sidebarCollapse {
    padding: 5px 8px;
    background-color: #138496;
    border-radius: 3px;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 0 25px;
    width: 100%;
}

#mytabledata td,
#mytabledata th {
    border: 5px solid transparent;
}

#titleError {
    display: inline-block;
    text-align: left;
    width: 63%;
    float: right;
    font-size: 10px;
    height: 12px;
}

#bar {
    height: inherit;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: -88%;
    margin-top: 0px;
}

.h4txt {
    font-size: 14px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

hr {
    margin-left: 4.9%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.2);
}

table tbody tr td {
    color: black;
    text-align: left;
}

table {
    border-bottom: 1px solid #dddddd;
}

.view-game {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

a.button6 {
    background-color: #0069d9;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}


/*table button Report section*/

#lblGame {
    float: left;
    margin-left: 5px;
    padding: 4px;
}

.lblSubName {
    float: left;
    margin-left: 10px;
    padding: 4px;
    margin-top: -10px;
}

.txt-title {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 60%;
    padding: 8px;
}

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 60%;
    padding: 8px;
    margin-top: -10px;
}

#lblSubName {
    margin-left: 15px;
}

input[type="submit"] {
    color: #fff;
    margin-left: 10px;
    background: #007bff;
    padding: 8px 14px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
    margin-top: -20px;
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
    #mytabledata {
        display: inline-table;
        text-align: center;
        margin: 0 10%;
        width: 80%;
    }
    .div_row {
        margin-left: -68%;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 75%;
        margin-right: -27%;
        padding: 0px;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (max-width: 1114px) {
    #txtloginname {
        margin-top: -27px;
    }
}

@media only screen and (max-width: 1090px) {
    #txtloginname {
        margin-top: 0px;
    }
    #mytabledata tr {
        display: flex;
        flex-direction: column;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (max-width: 1091px) {
    .sel-subscription {
        width: 62.8%;
    }
    .lblSubName {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 501px) {
    #lblGame {
        width: 100%;
    }
    .txt-title {
        display: block;
        float: left;
        width: 80%;
    }
    .lblSubName {
        width: 100%;
        /*margin-top: -10px;*/
    }
    .sel-subscription {
        float: left;
        width: 84%;
        margin-top: 3px;
    }
    #titleError {
        float: left;
    }
}