#mytabledata td,
#mytabledata th {
    border: 3px solid transparent;
}

#mytabledata {
    width: 100%;
}

#loginLabel {
    float: left;
    padding: 4px;
}

.txt-team-name {
    float: right;
    width: 66%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-branch {
    float: right;
    width: 37%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#UseridentLabel {
    float: left;
    padding: 4px;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
}

#lblLname {
    float: left;
    padding: 4px;
}

#F-name {
    float: right;
    width: 60%;
    padding: 4px;
}

#L-name {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblEmail {
    float: left;
    padding: 4px;
}

#lblPass {
    float: left;
    padding: 4px;
}

.txt-timestamp {
    float: right;
    width: 66%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#inpPass {
    float: right;
    width: 60%;
    padding: 4px;
}

.sel-company {
    float: right;
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-unit {
    float: right;
    width: 70%;
    /*margin-left: 10%;*/
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-branch {
    float: left;
    margin-left: 12%;
    width: 34%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-category {
    float: left;
    margin-left: 10%;
    width: 33%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-category {
    float: right;
    width: 37%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

input[type="submit"] {
    color: #fff;
    background: #007bff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


/*------------------csss for admin dropdown toggle button starts---------------------*/

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #090d10;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
}

.h4txt {
    font-size: 17px;
    /*margin-left: 15%;*/
    color: #000;
}

hr {
    margin-top: -27px;
    /*margin-left: 14.9%;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

.sidenav ul li {
    list-style: none;
}

.sidenav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.sidenav ul li a:hover {
    color: #7386d5;
}


/*------------------csss for admin dropdown toggle button end---------------*/

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}


/*table button Report section*/

a.button6 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

.CardIn {
    width: 100%;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1012px) and (max-width: 1450px) {
    .sel-company {
        /*width: 75%;*/
        /*float: right;*/
        /*margin-left: 5%;*/
    }
}

@media only screen and (max-width: 1012px) {
    #loginLabel,
    #lblEmail,
    #UseridentLabel,
    #lblLname,
    #lblPass {
        width: 100%;
    }
    .txt-team-name,
    .txt-timestamp,
    .sel-company {
        float: left;
    }
    #lblFname {
        width: 100%;
    }
    .txt-unit {
        float: left;
        margin-left: 0%;
    }
    .sel-company {
        width: 100%;
    }
    .sel-category,
    .sel-branch {
        float: left;
        margin-left: 0%;
        width: 50%;
    }
    .txt-category,
    .txt-branch {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    #mytabledata td {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .txt-team-name,
    .txt-timestamp {
        width: 96%;
    }
    .sel-category,
    .txt-unit,
    .sel-branch,
    .sel-company {
        width: 98.5%;
    }
    .txt-category,
    .txt-branch {
        float: left;
        width: 96%;
        margin-top: 10px;
    }
    ul {
        padding-left: 0px;
    }
    .main-header {
        margin-right: 10%;
    }
    #viewGameId {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 360px) {
    #headerUpdates {
        width: 55%;
        margin-right: -17%;
        padding: 0px;
    }
}


/*

@media only screen and (max-width: 578px) {
    #loginLabel,
    #UseridentLabel,
    #lblFname,
    #lblLname,
    #lblEmail,
    #lblPass,
    .lblCompany,
    .LblRoleId {
        width: 100%;
    }

    #txtteam,
    #txtuserident,
    #F-name,
    #L-name,
    .txt-timestamp,
    #inpPass {
        float: none;
        width: 97%;
    }

    #category,
    #txtRole {
        float: none;
        width: 100%;
    }

    #btnsave {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates{
        width: 55%;
        margin-right:-27% ;padding: 0px;
    }

    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;}
}*/