@font-face {
    font-family: "Flama-Bold";
    src: url('../../../asset/font/Flama-Bold.otf');
}

@font-face {
    font-family: "Flama-Medium";
    src: url('../../../asset/font/Flama-Medium.otf');
}

@font-face {
    font-family: "Flama-Light";
    src: url('../../../asset/font/Flama-Light.otf');
}

@font-face {
    font-family: "Flama-Basic";
    src: url('../../../asset/font/Flama-Basic.otf');
}

* {
    font-family: Flama-Basic;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: 82px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    background: #FFF;
    background-color: #f8f9fA !important;
    position: initial;
    z-index: 1;
}


/*admin and dropdown css starts*/

#admin-dropdown {
    width: 100%;
    background-color: transparent;
    margin-top: -25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

#dropdown-lists {
    float: right;
}

#dropdown_btn_1:focus {
    outline: none;
}


/*Admin dropdown section start*/

.dropbtn {
    background-color: #f8f9fA;
    color: #000;
    padding: 15px;
    font-size: 19px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 20px;
}

.dropbtn:hover {
    shadow: none;
    border: transparent;
    background: #f1f1f1;
    transition: all 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    /* min-width: 124px; */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 15px 12px;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

#admin-logo {
    float: right;
    margin-top: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


/*buttons css*/

.save-button {
    color: #000;
    /*background: #28a745;*/
    background: #CCFFCC;
    padding: 8px 24px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
    border: 2px solid #28a745;
    outline: none;
}

.save-button:hover {
    background: green;
    color: #fff;
    transition: 0.5s;
}

.back-button {
    background: #A4EBF6;
    color: #000;
    padding: 8px 24px;
    border: none;
    font-size: 16px;
    font-family: Flama-Basic;
    border-radius: 4px;
    cursor: pointer;
    /*background: #17a2b8;*/
    margin-left: 5px;
    transition: 0.3s;
    border: 2px solid #17a2b8;
    outline: none;
}

.back-button:hover {
    background: #17a2b8;
    color: #fff;
    border: 2px solid #17a2b8;
}

.update-button {
    background: #AECEF3;
    color: #000;
    padding: 8px 24px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    font-family: Flama-Basic;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #007bff;
    outline: none;
}

.update-button:hover {
    background: #007bff;
    color: #fff;
    border: 2px solid #007bff;
}


/* Dialouge box CSS*/

.modal {
    display: block;
    position: fixed;
    z-index: 30;
    padding-top: 40vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-yes {
    padding: 5px 38px;
    text-decoration: none;
    color: #fff;
    background: #cc0000;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 10%;
    border: 1px solid #cc0000;
}

.btn-yes1 {
    padding: 5px 25px;
    text-decoration: none;
    color: #fff;
    background: #cc0000;
    transition: 0.3s;
    cursor: pointer;
    margin-right: 10%;
    border: 1px solid #cc0000;
}


.btn-no {
    padding: 5px 20px;
    text-decoration: none;
    color: #000;
    background: #fff;
    border: 1.5px solid #000;
    margin-left: 20px;
    transition: 0.3s;
    cursor: pointer;
}


.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 2px solid #333;
    width: 350px;
    color: #000;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar-thumb:hover {
    background: #263238;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

@media only screen and (max-width: 360px) {
    .back-button{
        margin-left: 0;
        letter-spacing: 0.9px;
    }
}