#mytabledata td,
#mytabledata th {
	border: 3px solid transparent;
}
#mytabledata {
	width: 100%;
	font-family: Flama-Light;
}

#UseridentLabel {
	float: left;
	padding: 8px;
}

#logoimageLabel {
	float: left;
	padding: 8px;
}

.txt-company {
	float: right;
	width: 60%;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.file-logo {
	float: right;
	width: 60%;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 6px;
	margin-top: -15px;
}

.img-logo {
	height: 60px;
	width: 120px;
	float: left;
}

#btnsave {
	margin-left: 5px;
}
/*
#txtuserident{
    float: right;
    width: 60%;
    padding: 4px;
}
#lblFname{
    float: left;
    padding: 4px;
}

#lblLname{
    float: left;
    padding: 4px;
}
#F-name{
    float: right;
    width: 80%;
    padding: 4px;
    font-family: Flama-Light;
}

#L-name{
    float: right;
    width: 80%;
    padding: 4px;
    font-family: Flama-Light;
}*/

/**/

/*.txt-company{
    float: right;
    width: 50%;
    padding: 4px;
    font-family: Flama-Light;
}

#lblEmail{
    float: left;
    padding: 4px; 
}
#lblPass{
    float: left;
    padding: 4px;
}
#inpEmail{
    float: right;
    width: 60%;
    padding: 4px;
}
#inpPass{
    float: right;
    width: 60%;
    padding: 4px;
}

#txtRole{
    float: right;
    width: 62.5%;
    padding: 4px;
}

.lblCompany{
    float: left;
    padding: 4px;
}
.LblRoleId{
    float: left;
    padding: 4px;
}*/

input[type="submit"] {
	color: #fff;
	background: #007bff;
	padding: 8px 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	/*font-weight: normal;*/
	font-family: Flama-Light;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	/*font-family: 'Open Sans', Helvetica, sans-serif;*/
	box-sizing: border-box;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas:
		"header"
		"main"
		"footer";
	height: 100vh;
}

#Admin_logo {
	float: right;
}

.header__search {
	margin-left: 42px;
}

/*.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/

/* Force varying heights to simulate dynamic content */
.card:first-child {
	height: auto;
}
.footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: #648ca6;
}

/*------------------csss for admin dropdown toggle button starts---------------------*/

.sidebar_header {
	padding: 20px;
}

.sidenav.active {
	transform: translateX(0);
}

.sidenav__close-icon {
	position: absolute;
	visibility: visible;
	top: 8px;
	right: 12px;
	cursor: pointer;
	font-size: 20px;
	color: #ddd;
}

.sidenav {
	grid-area: sidenav;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 240px;
	position: fixed;
	overflow-y: hidden;
	transform: translateX(-245px);
	transition: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	z-index: 20;
	background-color: #090d10;
}

.main-cards {
	column-count: 1;
	column-gap: 20px;
	/*margin: 27px;*/
	background-color: transparent;
	margin-top: -92px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 45px;
	margin-right: 45px;
	-webkit-column-break-inside: avoid;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	color: #000;
	background-color: #fff;
	/*float: left;*/
}

#myTable {
	overflow-x: auto;
	/*width: 98%;*/
}

.menu-icon {
	position: fixed;
	display: flex;
	top: 23px;
	left: 20px;
	align-items: center;
	justify-content: center;
	background-color: #138496;
	border-radius: 2%;
	z-index: 10;
	cursor: pointer;
	padding: 7px;
}

.main {
	grid-area: main;
	background-color: #fafafa;
	margin-top: 35px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	padding: 20px;
	height: 150px;
	background-color: transparent;
	color: #000;
	margin-right: 21%;
	padding: 10px;
}

.homelist {
	list-style: none;
	display: inline-block;
}
#listGame {
	text-decoration: none;
	color: #000;
	font-family: Flama-Light;
}

.homelist + .homelist::before {
	display: inline-block;
	color: #6c757d;
	content: "/";
}

.div_row {
	width: 100%;
	background-color: transparent;
	margin-top: -20px;
	/*float: left;*/
}

.h4txt {
	font-size: 17px;
	margin-left: 1%;
	color: #000;
	font-family: Flama-Light;
}

hr {
	margin-top: -27px;
	margin-left: 1%;
	border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}
table thead tr th {
	color: black;
	text-align: left;
}
table tbody tr td {
	color: black;
	text-align: left;
}
table tbody tr {
}
table {
	border-bottom: 1px solid #dddddd;
}

#viewGameId {
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 20px;
	font-weight: normal;
	font-size: 20px;
}

a.button6 {
	background-color: #0069d9;
	border: none;
	color: white;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 1% 2%;
	cursor: pointer;
	border-radius: 4px;
}

#mytabledata {
	border: 2px solid transparent;
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0 10px;
}

#form-elements1 {
	font-size: 13px;
	font-weight: normal;
	background-color: transparent;
	width: 100%;
}

#txtlevelname {
	float: right;
	width: 60%;
	padding: 6px;
	font-family: Flama-Light;
}

#txtgame {
	float: right;
	width: 62.5%;
	padding: 6px;
	font-family: Flama-Light;
}

.Parent_Radiogroup1 {
	margin-left: 20%;
}

.CardIn {
	width: 100%;
	/*background-color: yellow;*/
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
	/* Show the sidenav */
	.grid-container {
		grid-template-columns: 240px 1fr;
		grid-template-areas:
			"sidenav header"
			"sidenav main"
			"sidenav footer";
	}

	.header__search {
		margin-left: 0;
	}

	.sidenav {
		position: fixed;
		transform: translateX(0);
	}

	.sidenav__close-icon {
		visibility: hidden;
	}
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
	/* Break out main cards into two columns */
	.main-cards {
		column-count: 1;
	}
}

@media only screen and (max-width: 477px) {
	#headerUpdates {
		width: 55%;
		margin-right: -27%;
		padding: 0px;
	}

	#viewGameId {
		margin-left: 10px;
		margin-right: 15px;
		margin-top: 20px;
		font-weight: normal;
		font-size: 17px;
	}
}

/*Media Screen For Responsiveness*/

@media only screen and (max-width: 1067px) {
	.txt-company,
	#filelogo {
		float: left;
		width: 80%;
	}

	table td {
		display: flex;
		flex-direction: column;
		width: 95%;
	}

	.file-logo {
		float: left;
		margin-top: 0;
		width: 80%;
	}

	#logoimageLabel,
	#UseridentLabel {
		width: 100%;
	}
}

@media only screen and (max-width: 799px) {
	#loginLabel,
	#UseridentLabel,
	#lblFname,
	#lblEmail,
	#lblLname,
	#lblPass {
		width: 100%;
	}

	#F-name,
	#L-name,
	#txtlevelname {
		float: left;
		width: 80%;
	}
	.Parent_Radiogroup1 {
		margin-left: 0px;
	}
	#txtgame {
		float: left;
		width: 87%;
	}
}

@media only screen and (max-width: 600px) {
	#mytabledata tr {
		display: flex;
		flex-direction: column;
	}

	#mytabledata td {
		width: 100%;
	}
	#btnsave {
		margin-top: 20px;
	}

	.txt-company,
	#filelogo {
		float: left;
		/*width: 100%;*/
	}
}

@media only screen and (min-width: 1450px) {
	.CardIn {
		max-width: 1200px;
	}
}
