#mytabledata td,
#mytabledata th {
    border: 3px solid transparent;
}

#mytabledata {
    width: 100%;
}

#loginLabel {
    float: left;
    padding: 4px;
}

#UseridentLabel {
    float: left;
    padding: 4px;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
}

#lblLname {
    float: left;
    padding: 4px;
    width: 12%;
}

#F-name {
    float: right;
    width: 80%;
    padding: 4px;
}

.option-input {
    float: right;
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txtar-que,
.txtar-ans-exp {
    float: right;
    width: 80%;
    height: 90px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#lblEmail {
    float: left;
    padding: 4px;
}

#lblPass {
    float: left;
    padding: 4px;
    width: 12%;
}

#inpEmail {
    float: right;
    width: 60%;
    padding: 4px;
}

#inpPass {
    float: right;
    width: 60%;
    padding: 4px;
}

#txtRole {
    float: right;
    width: 62.5%;
    padding: 4px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

#myTable {
    overflow-x: auto;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
    /*float: left;*/
}

.h4txt {
    font-size: 17px;
    margin-left: 1%;
    color: #000;
}

hr {
    margin-top: -27px;
    margin-left: 1%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}

.main-header__heading{
    margin-top:-20px;
}
/*table button Report section*/

a.button6 {
    background-color: #0069d9;
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#form-elements1 {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

#txtlevelname {
    float: right;
    width: 60%;
    padding: 6px;
}

#txtgame {
    float: right;
    width: 62.5%;
    padding: 6px;
}

.Parent_Radiogroup1 {
    margin-left: 20%;
}

.CardIn {
    width: 100%;
    /*background-color: yellow;*/
}


/*Error Span CSS Starts*/

.span-game-error {
    /* display: none; */
    text-align: left;
    width: 80%;
    float: right;
    font-size: 12px;
    height: 8px;
    color: red;
}


/*Error Span CSS Ends*/

.add-alert-row {
    width: 95%;
    height: 40px;
    background-color: transparent;
    margin-left: 1.1%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    width:100px;
    padding-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
    border-bottom:2px solid #ccc;
    color: #000;
    white-space: nowrap;
}

.hr-line {
    width: 50%;
    float: left;
    /*margin-top: -27px;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 95%;
    height: auto;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 95%;
    height: auto;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 95%;
    height: auto;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 95%;
    height: auto;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 55%;
        margin-right: -27%;
        padding: 0px;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (max-width: 799px) {
    #loginLabel,
    #UseridentLabel,
    #lblFname,
    #lblEmail,
    #lblLname,
    #lblPass {
        width: 100%;
    }
    #F-name,
    .option-input,
    #txtlevelname {
        float: left;
        width: 80%;
    }
    .Parent_Radiogroup1 {
        margin-left: 0px;
    }
    #txtgame {
        float: left;
        width: 87%;
    }
    .txtar-que,
    .txtar-ans-exp {
        float: left;
    }
    .span-game-error {
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    #mytabledata tr {
        display: flex;
        flex-direction: column;
    }
    #txtlevelname {
        width: 95%;
    }
    #txtgame {
        width: 98%;
    }
    #form-elements1 input[type="date"] {
        width: 95%;
    }
}


/*@media only screen and (max-width: 1400px){
    .CardIn{
        width: 100%;
    }
}*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        /*width: 70%;*/
        max-width: 1200px;
        /*background-color: red;*/
    }
}