#tbl-edit-mission td,
#tbl-edit-mission th {
    border: 3px solid transparent;
}

#tbl-edit-mission {
    width: 100%;
}

.main-header__heading {
    margin-top: -20px;
}

#loginLabel {
    float: left;
    padding: 4px;
}

.img-background {
    padding: 4px;
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    left: 20%;
}

#UseridentLabel {
    float: left;
    padding: 4px;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
}

#lblLname {
    float: left;
    padding: 4px;
}

.txt-level-step {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-total-que,
.txt-city {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.inp-city-img {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#lbl-from-date,
#lbl-ans-pnt,
#lbl-result {
    float: left;
    padding: 4px;
    width: 25%;
}

.Parent_Radiogroup1 {
    margin-left: 38%;
}

#lblPass {
    float: left;
    padding: 4px;
}

.txt-result,
.txt-correct-ans,
.txt-from-date {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-to-date,
.txt-time-limit {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

#form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}


/*.glyphicon{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}*/


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

#tbl-edit-mission {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 50px 8px;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
}

.h6-edt-msn {
    font-size: 17px;
    color: #000;
}

hr {
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

input[readonly] {
    border-radius: 3px;
}


/*------------------csss for admin dropdown toggle button end---------------*/

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}


/*table button Report section*/

a.button6 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

.CardIn {
    width: 100%;
}


/*Error Span CSS Starts*/

.span-game-error {
    display: block;
    text-align: left;
    width: 60%;
    float: right;
    font-size: 12px;
    height: 8px;
    color: red;
}


/*Error Span CSS Ends*/

.add-div-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 30px;
}

.h6-add-game {
    width: 90px;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 1px;
    white-space: nowrap;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    position: relative;
    left: 42%;
}

.h6-add-level {
    font-size: 17px;
    margin-top: 10px;
    margin-left: -10%;
    color: #000;
    white-space: nowrap;
}

.hr-level-line {
    width: 50%;
    float: left;
    margin-left: -10%;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-div-row2 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.add-div-row3 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.add-div-row4 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.add-div-row5 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.h6-edit-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    margin-left: -10%;
}

.hr-line-edit {
    width: 50%;
    float: left;
    margin-top: -27px;
    margin-left: -10%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.row-inside {
    width: 100%;
    display: flex;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.add-alert-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 0.5%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 97.9%;
    height: 40px;
    margin-left: 0.4%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}
.from-percent{
    position: relative;
    top: 10px;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    .add-alert-row {
        width: 10%;
        height: 40px;
        background-color: transparent;
        margin-left: 0.5%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 98%;
        margin-top: 30px;
        margin-left: 0.4%;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row4 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row5 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 55%;
        margin-right: -27%;
        padding: 0px;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        /*width: 70%;*/
        max-width: 1200px;
        /*background-color: red;*/
    }
}


/*@media only screen and (max-width: 1114px) {
    .img-background {
        margin-top: -27px;
    }
}*/

@media only screen and (max-width: 1090px) {
    .img-background {
        float: right;
    }
    #tbl-edit-mission tr {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 578px) {
    #loginLabel,
    #UseridentLabel,
    #lblFname,
    #lblLname,
    #lbl-from-date,
    #lbl-ans-pnt,
    #lbl-result,
    #lblPass,
    .lblCompany,
    .LblRoleId {
        width: 100%;
    }
    .img-background,
    #txtuserident,
    .txt-level-step,
    .txt-total-que,
    .txt-city,
    .txt-result,
    .txt-correct-ans,
    .txt-from-date,
    .txt-to-date,
    .txt-time-limit {
        float: none;
        width: 97%;
        margin-top: 10px;
    }
    #txtcompany,
    #txtRole {
        float: none;
        width: 100%;
    }
    .span-game-error {
        float: left;
        margin-top: -15px;
    }
    .from-percent{
        margin-top: 10px;
    }
}