input[type="text"] {
	border-radius: 3px;
	border: 1px solid #ddd;
}

select {
	border-radius: 3px;
	border: 1px solid #ddd;
}

#mytabledata td,
#mytabledata th {
	border: 3px solid transparent;
}
#mytabledata {
	width: 100%;
	font-family: Flama-Light;
}

#loginLabel {
	float: left;
	padding: 4px;
}

#txtloginname {
	font-family: Flama-Light;
	float: right;
	width: 80%;
	padding: 4px;
	/*margin-right: 7px;*/
}

#UseridentLabel {
	float: left;
	padding: 6px;
	font-weight: bold;
	font-size: 14px;
}

#txtuserident {
	float: right;
	width: 60%;
	padding: 4px;
	font-family: Flama-Light;
}
.lblFname {
	float: left;
	padding: 6px;
	font-weight: bold;
	font-size: 14px;
}
/*table #lblLname {
    border-collapse: separate;
    border-spacing: 15px 0px;
}*/
#lblLname {
	float: left;
	padding: 6.5px;
	font-weight: bold;
	font-size: 14px;
}

.input-category {
	float: left;
}

.input-category-name {
	width: 96.5%;
	padding: 5px;
}

.ip-team-name {
	float: right;
	width: 60%;
	padding: 5px;
}

.txtTmstmp {
	float: right;
	width: 60%;
	padding: 5px;
}
.category {
	float: right;
	width: 60%;
	padding: 6px;
	/*    margin-left: 15%;*/
}

#cateTxt {
	float: right;
	width: 37%;
	padding: 4px;
}

.lblEmail {
	float: left;
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
}
#lblPass {
	float: left;
	padding: 6px;
	font-weight: bold;
	font-size: 14px;
}

.lblbranch {
	float: left;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}

.branch {
	width: 59.5%;
	padding: 6px;
	float: right;
}

.ip-branch {
	width: 100%;
}

.sel-unit {
	float: right;
	width: 62.3%;
	padding: 5px;
}
.company {
	float: right;
	width: 76%;
	padding: 5px;
}

.txtbranch {
	float: right;
	width: 96.5%;
	padding: 5px;
}

#txtcompany {
	float: right;
	width: 62.5%;
	padding: 4px;
}
#txtRole {
	float: right;
	width: 62.5%;
	padding: 4px;
}

.lblCompany {
	float: left;
	padding: 4px;
}
.LblRoleId {
	float: left;
	padding: 4px;
}

input[type="submit"] {
	color: #fff;
	background: #007bff;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#form-elements {
	font-size: 13px;
	font-weight: normal;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	box-sizing: border-box;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;
	grid-template-areas:
		"header"
		"main"
		"footer";
	height: 100vh;
}

#Admin_logo {
	float: right;
}

.header__search {
	margin-left: 42px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
	height: auto;
}
.footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px;
	background-color: #648ca6;
}

.sidebar_header {
	padding: 20px;
}

.sidenav.active {
	transform: translateX(0);
}

.sidenav__close-icon {
	position: absolute;
	visibility: visible;
	top: 8px;
	right: 12px;
	cursor: pointer;
	font-size: 20px;
	color: #ddd;
}

.sidenav {
	grid-area: sidenav;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 240px;
	position: fixed;
	overflow-y: hidden;
	transform: translateX(-245px);
	transition: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	z-index: 20;
	background-color: #090d10;
}

.main-cards {
	column-count: 1;
	column-gap: 20px;
	margin: 20px;
	background-color: transparent;
	margin-top: -92px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
	-webkit-column-break-inside: avoid;
	padding: 24px;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	color: #000;
	background-color: #fff;
}

#mytabledata {
	border: 2px solid transparent;
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0 3px;
}

.menu-icon {
	position: fixed;
	display: flex;
	top: 23px;
	left: 20px;
	align-items: center;
	justify-content: center;
	background-color: #138496;
	border-radius: 2%;
	z-index: 10;
	cursor: pointer;
	padding: 7px;
}

.main {
	grid-area: main;
	background-color: #fafafa;
	margin-top: 35px;
}

.main-header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	padding: 20px;
	height: 150px;
	color: #000;
	margin-right: 21%;
	padding: 10px;
}

.homelist {
	list-style: none;
	display: inline-block;
}
#listGame {
	text-decoration: none;
	color: #000;
	font-family: Flama-Light;
}

.homelist + .homelist::before {
	display: inline-block;
	color: #6c757d;
	content: "/";
}

.div_row {
	width: 100%;
	margin-top: -20px;
}

.h4txt {
	font-size: 17px;
	/*margin-left: 15%;*/
	color: #000;
	font-family: Flama-Light;
}

hr {
	margin-top: -27px;
	/*margin-left: 14.9%;*/
	border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}
table thead tr th {
	color: black;
	text-align: left;
}
table tbody tr td {
	color: black;
	text-align: left;
}
table tbody tr {
}
table {
	border-bottom: 1px solid #dddddd;
}

.sidenav ul li {
	list-style: none;
}

.sidenav ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}

.sidenav ul li a:hover {
	color: #7386d5;
}
/*input[readonly] {
    border-radius: 1px;
}*/
/*------------------csss for admin dropdown toggle button end---------------*/

#viewGameId {
	margin-left: 20px;
	margin-right: 30px;
	margin-top: 20px;
	font-weight: normal;
	font-size: 20px;
	font-family: Flama-Light;
}

/*table button Report section*/
a.button6 {
	background-color: #0069d9;
	border: none;
	color: white;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 1% 2%;
	cursor: pointer;
	border-radius: 4px;
}

.button7 {
	background-color: #0069d9;
	border: none;
	color: white;
	padding: 2% 4.5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	border-radius: 4px;
}
.CardIn {
	width: 100%;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
	/* Show the sidenav */
	.grid-container {
		grid-template-columns: 240px 1fr;
		grid-template-areas:
			"sidenav header"
			"sidenav main"
			"sidenav footer";
	}

	.header__search {
		margin-left: 0;
	}

	.sidenav {
		position: fixed;
		transform: translateX(0);
	}

	.sidenav__close-icon {
		visibility: hidden;
	}
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
	/* Break out main cards into two columns */
	.main-cards {
		column-count: 1;
	}
}

@media only screen and (max-width: 477px) {
	#headerUpdates {
		width: 55%;
		margin-right: -27%;
		padding: 0px;
	}

	#viewGameId {
		margin-left: 10px;
		margin-right: 15px;
		margin-top: 20px;
		font-weight: normal;
		font-size: 17px;
	}
}

@media only screen and (max-width: 1143px) {
	.lblFname,
	#lblLname {
		width: 98%;
	}

	.ip-team-name {
		float: left;
		width: 75.8%;
	}

	.category {
		float: left;
		width: 78%;
	}

	.input-category-name {
		width: 76%;
	}

	.lblEmail {
		width: 98%;
	}

	.sel-unit {
		float: left;
		width: 78%;
	}

	#lblPass {
		width: 98%;
	}

	.company {
		float: left;
	}

	.txtTmstmp {
		float: left;
		width: 76.5%;
	}

	.lblbranch {
		width: 98%;
	}

	.branch {
		float: left;
		width: 78.5%;
	}

	.txtbranch {
		width: 76.5%;
	}

	table td {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px) {
	.lblFname,
	#lblLname {
		width: 98%;
	}

	.ip-team-name {
		float: left;
		width: 98%;
	}

	.category {
		float: left;
		width: 100.9%;
	}

	.input-category-name {
		width: 98%;
	}

	.lblEmail {
		width: 98%;
	}

	.sel-unit {
		float: left;
		width: 100.9%;
	}

	#lblPass {
		width: 98%;
	}

	.company {
		float: left;
		width: 100.9%;
	}

	.txtTmstmp {
		float: left;
		width: 98%;
	}

	.lblbranch {
		width: 98%;
	}

	.branch {
		float: left;
		width: 100.9%;
	}

	.txtbranch {
		width: 98%;
	}
}

@media only screen and (max-width: 432px) {
	.ip-team-name {
		float: left;
		width: 96%;
	}

	.input-category-name {
		width: 96%;
	}

	.txtTmstmp {
		float: left;
		width: 96%;
	}
	.txtbranch {
		width: 96%;
	}
}
