body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.card:first-child {
    background-color: #007bff;
    height: 80%;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: ease-in 0.4s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
    padding: 10px;
}

#sidebarCollapse {
    padding: 5px 8px;
    background-color: #138496;
    border-radius: 3px;
}

.porshe-logo {
    width: 100%;
    height: auto;
}

#bar {
    height: inherit;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    margin-left: 5%;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    color: #000;
}

.main-header-updates {
    /*background: #398439;*/
    /*height: auto;*/
    display: table;
    white-space: nowrap;
}

.dashboard-link {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
    font-size: 13px;
    color: #000;
}

.div-row {
    width: 95%;
    height: 40px;
    background-color: transparent;
    margin-top: 0px;
}

.h4txt {
    width: 140px;
    font-size: 14px;
    margin-top: 10px;
    padding-bottom: 5px;
    color: #000;
    white-space: nowrap;
    border-bottom: 2px solid #ccc;
}

.img-div {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0px 2%;
    width: 95.5%;
}


/* csss for admin dropdown toggle button end */

.view-game {
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    white-space: nowrap;
}

.form-div-logo {
    background-color: transparent;
    width: 100%;
    margin-top: -20px;
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        /*position: relative;*/
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}