#mytabledata td,
#mytabledata th {
    border: 3px solid transparent;
}

#mytabledata {
    width: 100%;
}

.UseridentLabel {
    float: left;
    padding: 4px;
    font-size: 14px;
    width: 27%;
    white-space: nowrap;
    position: relative;
    left: 4%;
    top: 5px;
}

.participate-lbl{
    margin-top: -10px;
}

.img-badge {
    width: 64%;
    position: relative;
    right: 4%;
    float: right;
    width: 64%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/*#filebadge {
    float: right;
    width: 64%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}*/

.main-header__heading {
    margin-top: -20px;
}

.txt-select-game {
    width: 64%;
    float: right;
    height: 4vh;
    border: 1px solid #ccc;
}

.star-color {
    color: red;
}

.know-grade-game {
    width: 64%;
    float: right;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.txt-to-perc {
    float: right;
    width: 64%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 4%;
}

.txt-grade {
    float: right;
    width: 64%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 4%;
}

.txt-from-perc {
    float: right;
    position: relative;
    right: 4%;
    width: 64%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#filelogo {
    float: right;
    /*width: 50%;*/
    padding: 4px;
}

.txtdesc {
    float: right;
    width: 64%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 4%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

/*.txtpercent {
    float: right;
    width: 61%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}*/

.txtgrade {
    float: right;
    width: 61%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.grading {
    float: right;
    width: 61%;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


/*------------------csss for admin dropdown toggle button starts---------------------*/


/*Admin dropdown section start*/

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    /*margin: 27px;*/
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
    height: auto;
    /*float: left;*/
}

#myTable {
    overflow-x: auto;
}

.tablediv {
    width: 98%;
    background-color: transparent;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    /*float: left;*/
}

.h4txt {
    width: 100px;
    font-size: 17px;
    margin-left: 1%;
    color: #000;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.h4txt-know {
    width: 195px;
    font-size: 17px;
    margin-left: 1%;
    color: #000;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

hr {
    margin-top: -27px;
    margin-left: 1%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}


/*table button Report section*/

a.button6 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#form-elements1 {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

#txtlevelname {
    float: right;
    width: 60%;
    padding: 6px;
}

#txtgame {
    float: right;
    width: 62.5%;
    padding: 6px;
}

.Parent_Radiogroup1 {
    margin-left: 40%;
    position: relative;
    right: 7%;
}

.CardIn {
    width: 100%;
    /*background-color: yellow;*/
}


/*Manage grade description*/

.manage-div {
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    /*border: 1px solid red;*/
}

.id-row {
    width: 100%;
    height: 10%;
    display: flex;
    /*border: 1px solid green;*/
}

.grade-img {
    height: 30px;
    width: 50px;
}

.edit-icon {
    font-size: 16px;
    color: green;
}

.delete-icon {
    font-size: 17px;
    color: red;
}

.grade-id-row {
    width: 50%;
    height: 100%;
    display: flex;
    /*border:1px solid blue;*/
}

.game-id-row {
    width: 50%;
    height: 100%;
    display: flex;
    /*border:1px solid blue;*/
}

.grade-label {
    width: 30%;
    height: 100%;
    white-space: nowrap;
    /*border: 1px solid red;*/
}

.grade-desc {
    width: 50%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    border: 1px solid #dddddd;
}

.input-grade {
    width: 98%;
    height: 75%;
    border: none;
    outline: none;
}

.avg-row {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    /*border: 1px solid green;*/
}

.avg-grade {
    width: 100%;
    height: 10%;
    margin-top: 1%;
    display: flex;
    /*border: 1px solid green;*/
}

.knowledge-row {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 2%;
    /*border: 1px solid green;*/
}

.attempt-row {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 2%;
    /*border: 1px solid green;*/
}

.attempt-label {
    width: 15%;
    height: 100%;
    /*border: 1px solid red;*/
}

.radio-input {
    width: 10%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    /*border: 1px solid gray;*/
}

.attempt-input {
    width: 100%;
    height: 75%;
    border: none;
    outline: none;
    float: left;
}


/*Error Span CSS Starts*/

.span-game-error {
    display: block;
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
    position: relative;
    right: 4%;
}


/*Error Span CSS Ends*/

.add-div-row {
    width: 100px;
    height: 40px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 30px;
}

.h6-add-game {
    width: 90px;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    padding-bottom: 5px;
    letter-spacing: 0.67px;
    border-bottom: 2px solid #ccc;
    position: relative;
    left: 30%;
}

.h6-add-game-grade {
    width: 180px;
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    padding-bottom: 5px;
    letter-spacing: 0.67px;
    border-bottom: 2px solid #ccc;
    position: relative;
    left: 30%;
}

.h6-add-level {
    font-size: 17px;
    margin-top: 10px;
    margin-left: -10%;
    color: #000;
    white-space: nowrap;
}

.hr-level-line {
    width: 50%;
    float: left;
    margin-left: -10%;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-div-row2 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-div-row3 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-div-row4 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-div-row5 {
    width: 79.9%;
    height: 40px;
    margin-left: 6.3%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.h6-edit-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    margin-left: -10%;
}

.hr-line-edit {
    width: 50%;
    float: left;
    margin-top: -27px;
    margin-left: -10%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 0.5%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 97.9%;
    height: 40px;
    margin-left: 0.4%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-div{
    position: relative;
    left: 5%;
}


@media only screen and (max-width:1370px){
    .h6-add-game{
        left: 0%;
    }
    .h6-add-game-grade{
        left: 0%;
    }
    .UseridentLabel{
        left: 0%;
    }
    .img-badge{
        width: 60%;
    }
    .txt-from-perc{
      width: 60%;  
    }
    .txt-to-perc{
      width: 60%;  
    }
    .txtdesc{
        width: 60%;
    }
    .txt-grade{
        width: 60%;
    }
    .Parent_Radiogroup1{
        right: 3%;
    }
    .btn-div{
        left: 0%;
    }
    .span-game-error{
     width: 60%;
    }
}

@media only screen and (max-width:1200px){
    .txt-from-perc{
      width: 55%;  
    }
    .txt-to-perc{
      width: 55%;  
    }
    .txtdesc{
        width: 55%;
    }
    .txt-grade{
        width: 55%;
    }
    .img-badge{
        width: 55%;
    }
    .UseridentLabel{
        left: 0%;
    }
    .Parent_Radiogroup1{
        right: 0%;
    }
    .h6-add-game{
        left: 0%;
    }
    .btn-div{
        left: 0%;
    }
    .span-game-error{
     width: 55%;
    }
}

/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    .add-alert-row {
        width: 75px;
        height: 40px;
        background-color: transparent;
        margin-left: 0.5%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 98%;
        margin-top: 30px;
        margin-left: 0.4%;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row4 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row5 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 55%;
        margin-right: -27%;
        padding: 0px;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (max-width: 1067px) {
    .UseridentLabel {
        width: 100%;
    }
    .txt-from-perc,
    .txt-to-perc,
    .txt-grade,
    .img-badge,
    #filelogo {
        float: left;
        width: 80%;
        right: 0%;
    }
    .txtdesc {
        float: left;
        width: 82%;
        right: 0%;
    }
    .Parent_Radiogroup1 {
        margin-left: 0%;
    }
    .span-game-error {
        float: left;
        right: 0%;
    }
    .txt-select-game {
        float: left;
        width: 80%;
    }
    .know-grade-game {
        float: left;
        width: 80%;
    }
}

@media only screen and (max-width: 799px) {
   
    .UseridentLabel,
    #lblFname,
    #lblEmail,
    #lblLname,
    #lblPass {
        width: 100%;
    }
    #F-name,
    #L-name,
    #txtlevelname {
        float: left;
        width: 80%;
    }
    #txtgame {
        float: left;
        width: 87%;
    }
}

@media only screen and (max-width: 600px) {
    #mytabledata td {
        display: flex;
        flex-direction: column;
        width: 92%;
    }
    .txt-from-perc,
    .txt-to-perc,
    .txt-grade,
    #filelogo {
        width: 95%;
    }
    .img-badge,
    .txtdesc {
        width: 96%;
    }
    .txt-from-perc,
    .txt-to-perc,
    .txt-grade,
    .img-badge,
    #filelogo {
        float: left;
        /*width: 100%;*/
    }
    .txt-select-game {
        float: left;
        width: 95%;
    }
    .know-grade-game {
        width: 95%;
    }
}

@media only screen and (min-width: 1450px) {
    .CardIn {
        max-width: 1200px;
    }
}