.mytabledata td,
.mytabledata th {
    border: 3px solid transparent;
}

input[type=text] {
    outline: none;
}

input[type=password] {
    outline: none;
}

input[type=number] {
    outline: none;
}

.mytabledata {
    width: 100%;
}

.loginLabel {
    float: left;
    padding: 4px;
}

.txt-login-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-login-name2 {
    float: right;
    width: 67%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-login-name03 {
    float: right;
    width: 67%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.UseridentLabel {
    float: left;
    padding: 4px;
}

.txt-userident {
    float: right;
    width: 67%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-userident1 {
    float: left;
    width: 30%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblFname {
    float: left;
    padding: 4px;
}

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 63%;
    padding: 8px;
    margin-top: -10px;
    background: #fff;
}

.span-err-msg {
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.lblLname {
    float: left;
    padding: 4px;
}

.txt-first-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-last-name {
    float: right;
    width: 66.7%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.txt-last-name-model {
    float: right;
    width: 66.7%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.select-model-opt {
    float: right;
    width: 66.9%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.main-header__heading {
    margin-top: -20px;
}

.lblEmail {
    float: left;
    padding: 4px;
}

#lblPass {
    float: left;
    padding: 4px;
}

.user-email {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.user-pass {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-company {
    float: right;
    width: 63.5%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.sel-role-id {
    float: right;
    width: 63.5%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

.form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

.checkbox-div {
    margin-left: 36%;
}

.check-label {
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}


/*------------------csss for admin dropdown toggle button starts---------------------*/

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: all .3s ease-in;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.span-game-error-sel1{
    text-align: left;
    width: 81.5%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.main-cards2 {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    /*margin-top: -92px;*/
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    white-space: nowrap;
}

.h4txt {
    width: 100px;
    font-size: 17px;
    color: #000;
    margin-left: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.h5txt {
    width: 128px;
    font-size: 17px;
    color: #000;
    margin-left: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.h5txt-lbl {
    width: 105px;
    font-size: 17px;
    color: #000;
    margin-left: 6px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

.span-game-error,
.span-level-error {
    /* display: none; */
    text-align: left;
    width: 63%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.span-game-error1,
.span-level-error1 {
    /* display: none; */
    text-align: left;
    width: 66%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.translateY{
    transform: translateY(10px );
}

.span-game-error-sel1{
    text-align: left;
    width: 81.5%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.CardIn {
    width: 100%;
    /*background-color: yellow;*/
}


/* CheckBox*/

.role-checkbox {
    float: right;
}

.input-LblRoleId,
.input-lblCompany {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 67%;
}

.input-LblRoleId-disabled {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 66.7%;
}

.input-LblRoleId-year {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 66.7%;
}

.input-LblYear {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 63%;
}

.add-alert-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 1.1%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000; 
    white-space: nowrap;
}

.translateY1{
    transform: translateY(9px);
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

.loginLabel1 {
    float: left;
    padding: 0;
    transform: translate(1%,9px);
    font-size: 13.6px;
}

.sel-game {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 25%;
    margin-left: 5%;
    padding: 8px;
}

.txt-level-name {
    float: right;
    width: 63%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


.flex1{
    width:81%;
}

.sel-bx1{
    width: 81%; 
}

.tdp_no{
    width: 51%;
}

.Parent_Radiogroup1 {
    margin-left: 38%;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
    .add-alert-row {
        width: 10%;
        height: 40px;
        background-color: transparent;
        margin-left: 0.7%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row4 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
    .add-alert-row5 {
        width: 98%;
        height: 40px;
        margin-left: 0.4%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 55%;
        margin-right: -15%;
        padding: 0px;
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1090px) {
    .txt-login-name {
        margin-top: 0px;
    }
    .mytabledata tr {
        display: flex;
        flex-direction: column;
    }
    .mytabledata td {
        width: 100%;
    }
    .sel-company,
    .sel-role-id {
        width: 61.8%;
    }
    .checkbox-div {
        margin-left: 38%;
    }
    .txt-userident {
        width: 60%;
    }
    .input-LblRoleId,
    .input-lblCompany {
        width: 60%;
    }
    .txt-login-name2 {
        width: 60%;
    }
    .txt-login-name03 {
        float: right;
        width: 60%;
    }
    .txt-last-name {
        width: 60%;
    }
    .sel-bx1 {
        width: 60%;
    }
    .txt-login-name{
        width: 60%;
    }
    .txt-first-name{
        width: 60%; 
    }
    .user-email{
        width: 60%; 
    }
    .span-game-error-sel1{
        width: 60%;
    }
    .span-game-error, .span-level-error{
        width: 60%;
    }
    .span-game-error1, .span-level-error1{
        width: 60%;
    }
    .flex1{
        width:60%;
    }
    .translateY1{
        transform: translateY(0);
    }
}

@media only screen and (max-width: 578px) {
    .loginLabel,
    .UseridentLabel,
    .lblFname,
    .lblLname,
    .lblEmail,
    .lblPass,
    .lblCompany,
    .LblRoleId {
        width: 100%;
    }
    .txt-login-name,
    .txt-userident,
    .txt-first-name,
    .txt-last-name,
    .user-email,
    .user-pass,
    .input-LblRoleId,
    .input-lblCompany {
        float: none;
        width: 97%;
    }
    .sel-company,
    .sel-role-id {
        float: none;
        width: 100%;
    }
    .span-game-error {
        width: 98%;
    }
    #btnsave {
        margin-top: 25px;
    }
    .mytabledata td {
        width: 95%;
    }
    .checkbox-div {
        margin-left: 0%;
    }
    .sel-subscription {
        float: none;
        margin-top: 0px;
        width: 101%;
    }
    .span-err-msg {
        width: 98%;
    }
    .txt-level-name {
        float: left;
        width: 97%;
    }
    .loginLabel1 {
        width: 100%;
        width: 100%;
    }
    .txt-login-name2 {
        width: 97%;
        float: left;
    }
    .txt-login-name03 {
        float: left;
        width: 97%;
    }
    .Parent_Radiogroup1 {
        margin-left: 0;
    }
    .span-game-error-sel1 {
        width: 99%;
    }
    .span-game-error1, .span-level-error1 {
        width: 98%;
    }
    .translateY{
        transform: translateY(0);
    }
    .sel-game{
        width: 68.6%;
    }
    .loginLabel1 {
    transform: translate(0,0);
}
}