body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.card:first-child {
    height: auto;
}
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}
#listGame {
    text-decoration: none;
    color: #000;
}

.homelist + .homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}

.main-header__heading{
    margin-top: -20px;
}

.h4txt {
    width: 111px;
    padding-bottom: 5px;
    font-size: 17px;
    color: #000;
    border-bottom: 2px solid #ccc;
}

.img-car {
    height: 40px;
    width: 70px;
}

hr {
    margin-top: -27px;
    /*margin-left: 14.9%;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}
table thead tr th {
    color: black;
    text-align: left;
}
table tbody tr td {
    color: black;
    text-align: left;
}
table tbody tr {
}
table {
    border-bottom: 1px solid #dddddd;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}
.btn-budget{
    font-size: 14px;
    padding: 4px 20px;
    border-radius: 4px;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
    white-space: nowrap;
}
.btn-budget:hover{
    background: #cc0000;
    color: #fff;
    border: 2px solid #cc0000;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
    }

    .header__search {
        margin-left: 0;
    }

    .sidenav {
        position: fixed;
        transform: translateX(0);
    }

    .sidenav__close-icon {
        visibility: hidden;
    }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 45%;
        /*margin-right:-27% ;*/
        padding: 0px;
    }

    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}
