#mytabledata td,
#mytabledata th {
    border: 3px solid transparent;
}

#mytabledata {
    width: 100%;
}

#loginLabel {
    float: left;
    padding: 4px;
    position: relative;
    left: 5%;
}

.txtloginname {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

#UseridentLabel {
    float: left;
    padding: 4px;
}

#txtuserident {
    float: right;
    width: 60%;
    padding: 4px;
}

#lblFname {
    float: left;
    padding: 4px;
    position: relative;
    left: 5%;
}

#lblLname {
    float: left;
    padding: 4px;
    position: relative;
    left: 5%;
}

.f-name {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

.l-name {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

#lblEmail {
    float: left;
    padding: 4px;
    position: relative;
    left: 5%;
}

#lblPass {
    float: left;
    padding: 4px;
    position: relative;
    left: 5%;
}

.btn-div{
    position: relative;
    left: 4%;
}


.txt-grade,
.txt-attendance,
.txt-diploma {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

.txt-result,
.txt-certi {
    float: right;
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
    right: 5%;
}

#txtcompany {
    float: right;
    width: 62.5%;
    padding: 4px;
}

#txtRole {
    float: right;
    width: 62.5%;
    padding: 4px;
}

.lblCompany {
    float: left;
    padding: 4px;
}

.LblRoleId {
    float: left;
    padding: 4px;
}

#form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    box-sizing: border-box;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}



/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

#mytabledata {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 88px;
    background-color: transparent;
}

.h4txt {
    font-size: 17px;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    position: relative;
    left: 40%;
}

hr {
    margin-top: -27px;
    /*margin-left: 14.9%;*/
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}

#headerUpdates {
    white-space: nowrap;
}

.main-header__heading {
    margin-top: -20px;
}

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    white-space: nowrap;
}


/*table button Report section*/

a.button6 {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 2% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1% 2%;
    cursor: pointer;
    border-radius: 4px;
}

.CardIn {
    width: 100%;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 50%;
        padding: 0px;
        white-space: normal;
        margin-left: -8%;
    }
    #viewGameId {
        /*float: right;*/
        margin-left: 10px;
        /*margin-right: 15px;*/
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
    .main-header {
        margin: 0 0 20px 20px;
    }
}


/*Media Screen For Responsiveness*/

@media only screen and (min-width: 1450px) {
    .CardIn {
        /*width: 70%;*/
        max-width: 1200px;
        /*background-color: red;*/
    }
}


/*@media only screen and (max-width: 1114px) {
    #txtloginname {
        margin-top: -27px;
    }
}*/

@media only screen and (max-width: 1090px) {
    .txtloginname {
        /*margin-top: 0px;*/
        width: 60%;
    }
    #mytabledata tr {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 578px) {
    #loginLabel,
    #UseridentLabel,
    #lblFname,
    #lblLname,
    #lblEmail,
    #lblPass,
    .lblCompany,
    .LblRoleId {
        width: 100%;
        left: 0%;
    }
    .txtloginname,
    #txtuserident,
    .f-name,
    .l-name,
    .txt-grade,
    .txt-attendance,
    .txt-diploma,
    .txt-result,
    .txt-certi {
        float: none;
        width: 97%;
        left: 0%;
    }
    #txtcompany,
    #txtRole {
        float: none;
        width: 100%;
    }
    #headerUpdates {
        width: 55%;
        padding: 0px;
    }
}

@media only screen and (max-width: 350px) {
    #headerUpdates {
        margin-left: -8%;
    }
}