body {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100vh;
}

#h5-view-team {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    font-family: Flama-Light;
}

.tbl-view-team td,
.tbl-view-team th {
    border: 3px solid transparent;
}

.tbl-view-team {
    width: 100%;
    font-family: Flama-Light;
}

label {
    padding: 4px;
}

input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 8px;
    float: right;
    width: 60%;
}

#form-elements {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
}

.header__search {
    margin-left: 42px;
}

a {
    color: #000;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
    height: auto;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #090d10;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    margin-top: -92px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.tbl-view-team {
    border: 2px solid transparent;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 3px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
}

#listGame {
    text-decoration: none;
    color: #000;
    font-family: Flama-Light;
}

.homelist + .homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    margin-top: -20px;
}

.h4txt {
    font-size: 17px;
    color: #000;
    font-family: Flama-Light;
}

hr {
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {
}

table {
    border-bottom: 1px solid #dddddd;
}

.sidenav ul li {
    list-style: none;
}

.sidenav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.sidenav ul li a:hover {
    color: #7386d5;
}

.CardIn {
    width: 100%;
}

/* Media Screen For Responsiveness */
@media only screen and (min-width: 1450px) {
    .CardIn {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1090px) {
    #txtloginname {
        margin-top: 0px;
    }

    .tbl-view-team tr {
        display: flex;
        flex-direction: column;
    }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "sidenav header"
            "sidenav main"
            "sidenav footer";
    }

    .header__search {
        margin-left: 0;
    }

    .sidenav {
        position: fixed;
        transform: translateX(0);
    }

    .sidenav__close-icon {
        visibility: hidden;
    }
}

@media only screen and (max-width: 578px) {
    input[type="text"] {
        float: none;
        width: 97%;
    }

    .tbl-view-team {
        width: 93%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 55%;
        margin-right: -27%;
        padding: 0px;
    }

    #h5-view-team {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}
