body {
    margin: 0;
    padding: 0;
    color: #fff;
    /*font-family: 'Open Sans', Helvetica, sans-serif;*/
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "header" "main" "footer";
    height: 100vh;
}

#Admin_logo {
    float: right;
}

.header__search {
    margin-left: 42px;
}

.add-game-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    -webkit-column-break-inside: avoid;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.add-div-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 30px;
}

.add-div-row2 {
    width: 81.5%;
    height: 40px;
    margin-left: 4.6%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.add-div-row3 {
    width: 81.5%;
    height: 40px;
    margin-left: 4.6%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.add-div-row4 {
    width: 81.5%;
    height: 40px;
    margin-left: 4.6%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.add-div-row5 {
    width: 81.5%;
    height: 40px;
    margin-left: 4.6%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.row-inside {
    width: 100%;
    display: flex;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
}

.add-form-element {
    font-size: 13px;
    font-weight: normal;
    background-color: transparent;
    width: 100%;
    /*margin-top: -20px;*/
}

.add-game-table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 0 25px;
    width: 100%;
}

.add-game-table td,
.add-game-table th {
    border: 5px solid transparent;
}

#lblGame {
    float: left;
    /*margin-left: 5px;*/
    padding: 4px;
    width: 20%;
}

.start-clr {
    color: red;
}

.main-tbl-div {
    width: 100%;
    background-color: transparent;
}

.txt-title {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 50%;
    padding: 8px;
    outline: none;
    position: relative;
    right: 10%;
    margin-top: -10px;
}

.span-game-error {
    display: block;
    text-align: left;
    width: 60%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
    font-family: Flama-Medium;
}

.span-sub-error {
    /*display: none;*/
    text-align: left;
    width: 60%;
    float: right;
    font-size: 12px;
    height: 12px;
    color: red;
}

.lblSubName {
    float: left;
    /*margin-left: 10px;*/
    /*padding: 4px;*/
    width: 25%;
}

.sel-subscription {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: right;
    width: 60%;
    padding: 8px;
    margin-top: -10px;
    outline: none;
    position: relative;
}

.save-button {
    color: #fff;
    /*margin-lseft: 0px;*/
    background: #28a745;
    padding: 8px 24px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.save-button:hover {
    background: #23903c;
}

.edit-icon {
    font-size: 16px;
    color: green;
}


/*.hr-line{
    margin-top: -27px;
    float: left;
    border-top: 0.62px solid rgba(0,0,0,.1);}*/


/*add-game CSS ends*/

a.button7 {
    background-color: #fff;
    /* Green */
    border: 2px solid #000;
    color: #000;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /*margin: 1% 2%;*/
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}

a.button7:hover{
    background-color: #cc0000;
    color: #fff;
    border: 2px solid #cc0000;
}


/* Force varying heights to simulate dynamic content */

.card:first-child {
    height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #648ca6;
}

.btnlvlgrade {
    background-color: #0069d9;
    /* Green */
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    /*margin: 1% 2%;*/
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
}

.sidebar_header {
    padding: 20px;
}

.sidenav.active {
    transform: translateX(0);
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
}

.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    transform: translateX(-245px);
    transition: all 0.4s ease-in;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 20;
    background-color: #333333;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    background-color: transparent;
    /*margin-top: -92px;*/
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #000;
    background-color: #fff;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 23px;
    left: 20px;
    align-items: center;
    justify-content: center;
    background-color: #138496;
    border-radius: 2%;
    z-index: 10;
    cursor: pointer;
    padding: 7px;
}

.main {
    grid-area: main;
    background-color: #fafafa;
    margin-top: 35px;
    height: 100%;
}

.main-header__heading {
    margin-top: -20px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    /*height: 150px;*/
    background-color: transparent;
    color: #000;
    margin-right: 21%;
    padding: 10px;
}

.homelist {
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

#listGame {
    text-decoration: none;
    color: #000;
}

.homelist+.homelist::before {
    display: inline-block;
    color: #6c757d;
    content: "/";
}

.div_row {
    width: 100%;
    background-color: transparent;
    /*float: left;*/
}

.h4txt {
    font-size: 17px;
    color: #000;
    padding-bottom: 5px;
}

table thead tr th {
    color: black;
    text-align: left;
}

table tbody tr td {
    color: black;
    text-align: left;
}

table tbody tr {}

table {
    border-bottom: 1px solid #dddddd;
}


/*------------------csss for admin dropdown toggle button end---------------*/

#viewGameId {
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}

.h6-edit-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    margin-left: -10%;
}

.hr-line-edit {
    width: 50%;
    float: left;
    margin-top: -27px;
    margin-left: -10%;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-div-row {
    width: 10%;
    height: 40px;
    background-color: transparent;
    margin-left: 2%;
    margin-top: 30px;
}

.add-div-row2 {
    width: 78.8%;
    height: 40px;
    margin-left: 7.2%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-div-row3 {
    width: 78.8%;
    height: 40px;
    margin-left: 7.2%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.add-div-row4 {
    width: 78.8%;
    height: 40px;
    margin-left: 7.2%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.add-div-row5 {
    width: 78.8%;
    height: 40px;
    margin-left: 7.2%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.row-inside {
    width: 100%;
    display: flex;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}

.add-alert-row {
    width: 80px;
    height: 40px;
    background-color: transparent;
    margin-left: 1%;
    margin-top: 30px;
    border-radius: 3px;
}

.h6-add-game {
    font-size: 17px;
    margin-top: 10px;
    color: #000;
    white-space: nowrap;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

.hr-line {
    width: 50%;
    float: left;
    margin-top: -27px;
    border-top: 0.62px solid rgba(0, 0, 0, 0.1);
}

.add-alert-row2 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 3px;
}

.add-alert-row3 {
    width: 97%;
    height: auto;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    border-radius: 3px;
}

.add-alert-row4 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    border-radius: 3px;
}

.add-alert-row5 {
    width: 97%;
    height: 40px;
    margin-left: 1%;
    margin-top: 30px;
    padding: 1px 6px 0px 6px;
    line-height: 42px;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    border-radius: 3px;
}

.row-inside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.strong-alert-msg {
    font-weight: bolder;
}

.msg-alert {
    font-family: Flama-Basic;
}

.redirect-buttons {
    display: flex;
}

.closebtn {
    margin-right: 0.2%;
    color: #000;
    font-weight: bolder;
    font-family: Flama-Bold;
    float: right;
    font-size: 22px;
    line-height: 38px;
    cursor: pointer;
    transition: 0.3s;
}


/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 240px 1fr;
        grid-template-areas: "sidenav header" "sidenav main" "sidenav footer";
    }
    .header__search {
        margin-left: 0;
    }
    .sidenav {
        position: fixed;
        transform: translateX(0);
    }
    .sidenav__close-icon {
        visibility: hidden;
    }
    /* #tbl-add-game {
        display: flex;
        flex-direction: column;
    } */
}


/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 1;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1450px) {
    /* Break out main cards into two columns */
    .add-game-table {
        display: inline-table;
        text-align: center;
        margin: 0 10%;
        width: 80%;
    }
    .add-alert-row {
        height: 40px;
        background-color: transparent;
        margin-left: 10.7%;
        margin-top: 30px;
    }
    .add-alert-row2 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
        margin-top: 30px;
        padding: 1px 6px 0px 6px;
        line-height: 42px;
        background-color: #dff0d8;
        border-color: #d0e9c6;
        color: #3c763d;
    }
    .add-alert-row3 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row4 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
    .add-alert-row5 {
        width: 78%;
        height: 40px;
        margin-left: 10.4%;
    }
}

@media only screen and (max-width: 477px) {
    #headerUpdates {
        width: 45%;
        margin-right: -14%;
        padding: 0px;
        white-space: nowrap;
    }
    #viewGameId {
        margin-left: 10px;
        margin-right: 15px;
        margin-top: 20px;
        font-weight: normal;
        font-size: 17px;
    }
}


/*add-game Media Screens*/

@media only screen and (max-width: 1091px) {
    .sel-subscription {
        width: 62.8%;
    }
    .lblSubName {
        margin-left: 5px;
    }
    .add-alert-row3 {
        line-height: 22px;
    }
}

@media only screen and (max-width: 1571px) {
    .lblSubName{
        transform: translateY(-10px);
    }
    #lblGame{
        transform: translateY(-5px);
    }
}

@media only screen and (max-width: 1425px) {
    .lblSubName{
        transform: translateY(0px);
    }
    #lblGame{
        transform: translateY(-2px);
    }
}

@media only screen and (max-width: 1090px) {
    .lblSubName{
        transform: translateY(-10px);
    }
    #lblGame{
        transform: translateY(-12px);
    }
}

@media only screen and (max-width: 501px) {
    #lblGame {
        width: 100%;
    }
    .txt-title {
        display: block;
        float: left;
        width: 84%;
        right: 0%;
        margin-top: 0px;

    }
    .lblSubName {
        width: 100%;
    }
    .sel-subscription {
        float: left;
        width: 84%;
        margin-top: 3px;
    }
    .span-game-error,
    .span-sub-error {
        float: left;
        width: 84%;
    }
    #tbl-add-game {
        display: flex;
        flex-direction: column;
    }
    .lblSubName{
        transform: translateY(0px);
    }
    #lblGame{
        transform: translateY(0px);
    }
}