a.tooltips {
    position: relative;
    display: inline;
    cursor: pointer;
    font-family: Flama-Basic;
}

a.tooltip-playnow {
    position: relative;
    display: inline;
    cursor: pointer;
    font-family: Flama-Basic;
}

a.tooltips-profile {
    position: relative;
    display: inline;
    cursor: pointer;
    font-family: Flama-Basic;
}

a.tooltips-userprofile {
    position: relative;
    display: inline;
    cursor: pointer;
    font-family: Flama-Basic;
}

a.tooltips-profile span {
    position: absolute;
    width:130px;
    color: #FFFFFF;
    background: #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    color:#000;
    font-family: Flama-Basic;
}

a.tooltips span {
    position: absolute;
    width:130px;
    color: #FFFFFF;
    background: #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    color:#000;
    font-family: Flama-Basic;
}

a.tooltip-playnow span {
    position: absolute;
    width:130px;
    color: #FFFFFF;
    background: #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    color:#000;
    font-family: Flama-Basic;
}

a.tooltips-profile span {
    position: absolute;
    width:130px;
    color: #FFFFFF;
    background: #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    color:#000;
    font-family: Flama-Basic;
}

a.tooltips-userprofile span {
    position: absolute;
    width:130px;
    color: #FFFFFF;
    background: #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    color:#000;
    font-family: Flama-Basic;
}


a.tooltipsvideo span {
    position: absolute;
    width: 100px;
    color: #000;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    right: -144%;  
    font-family: Flama-Basic;
}

a.tooltipsvideo span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a.tooltips-profile span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -18px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a.tooltip-playnow span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a.tooltips-userprofile span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a.tooltips-profile span:after {
    content: '';
    position: absolute; 
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0; height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-family: Flama-Basic;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 95%;
    margin-left: -76px;
    z-index: 999;
    font-family: Flama-Basic;
}

/*top tooltips css*/
a.tooltips-profile {
    position: relative;
    display: inline;
    cursor: pointer;
    font-family: Flama-Basic;
}
a.tooltips-profile span {
    position: absolute;
    width:80px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    top:-170%;
    font-family: Flama-Basic;
}
a:hover.tooltipstop span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -280%;
    z-index: 999;
    font-family: Flama-Basic;
}

a:hover.tooltips-profile span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -280%;
    z-index: 999;
    font-family: Flama-Basic;
}

.tooltips-profile{
    text-decoration: none;
    font-family: Flama-Basic;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

.playnow-tooltip{
    text-decoration: none;
    font-family: Flama-Basic;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .playnow-tooltip{
        text-decoration: none;
        font-family: Flama-Basic;
        color: #000;
        font-size: 0.6rem;
        cursor: pointer;
    }
}