.m-dash-logo{
    width: 18%;
    height: 5%;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
}
.m-menu-logo{
    width: 18%;
    height: 5%;
    margin-top: 90%;
    margin-left: 40%;
    position: absolute;
}
.m-play-logo{
    width: 18%;
    height: 5%;
    margin-top: 133%;
    margin-left: 40%;
    position: absolute;
}


.m-user-logo{
    width: 18%;
    height: 5.5%;
    margin-top: 160%;
    margin-left: 40%;
    position: absolute;
}
.m-user-txt{
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 178%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.m-logout-logo{
    width: 18%;
    height: 5.5%;
    margin-top: 240%;
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
}


.logout-alert{
    width: 80%;
    height: 15%;
    top: 72%;
    left: 70%;
    background: #fff;
    position: absolute;
    z-index: 1;
    text-align: center;
    border: 2px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.alert-msg{
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: Flama-Basic;
    font-size: 1vw;
    position: relative;
    top: 6%;
}

.logout-ok{
    width: 25%;
    height: 30%;
    background: #cc0000;
    color: #fff;
    position: absolute;
    left: 5%;
    top: 60%;
    font-family: Flama-Basic;
    font-size: 0.8vw;
    cursor: pointer;
}

.logout-cncl{
    width: 35%;
    height: 30%;
    background: #fff;
    color: #000;
    position: absolute;
    left: 60%;
    top: 60%;
    font-family: Flama-Basic;
    font-size: 0.8vw;
    border: 1px solid #000;
    cursor: pointer;
}