.mp-dash-logo{
    width: 18%;
    height: 5%;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
}
.mp-menu-logo{
    width: 18%;
    height: 5%;
    margin-top: 80%;
    margin-left: 40%;
    position: absolute;
}
.mp-play-logo{
    width: 8%;
    height: 3%;
    margin-top: 133%;
    margin-left: 45%;
    position: absolute;
}
.play-txt{
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 148%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.mp-user-logo{
    width: 18%;
    height: 5.5%;
    margin-top: 190%;
    margin-left: 40%;
    position: absolute;
}
.mp-user-txt{
    width: 60%;
    height: 3%;
    position: absolute;
    margin-left: 18%;
    margin-top: 210%;
    font-family: Flama-Basic;
    font-size: 0.9vw;
    text-align: center;
}

.mp-logout-logo{
    width: 18%;
    height: 5.5%;
    margin-top: 250%;
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
}


