
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333333; 
    cursor: pointer;
}

.porsche-logo{
    position: absolute;
    height: 90%;
    width: 15%;
    /*background: red;*/
    left: 2%;
}

.m-dash-logo{
    position: absolute;
    height: 25%;
    width: 2%;
    /*background: blue;*/
    top:15%;
    left: 70%;
}

.m-play-logo{
    position: absolute;
    height: 15%;
    width: 0.8%;
    top:20%;
    left: 75.5%;
}

.mq-play-now{
   position: absolute;
    height: 22%;
    width: 5%;
    top:40%;
    left: 73.5%;
    font-family: Flama-Basic;
    font-size: 0.8vw;
    text-align: center;
}

.m-video-logo{
   position: absolute;
    height: 25%;
    width: 2%;
    /*background: blue;*/
    top:15%;
    left: 75%; 
}

#v-list-open{
    position: absolute;
    display: block;
    cursor: pointer; 
}
#v-list-close{
    position: absolute;
    display: none;
    cursor: pointer;  
}
.m-menu-logo{
    position: absolute;
    height: 25%;
    width: 2%;
    /*background: blue;*/
    top:15%;
    left: 80%;
}

#menu-icon{
    position: absolute;
    display: block;
    cursor: pointer;
}
#menu-close{
    position: absolute;
    display: none;
    cursor: pointer;
}

.m-location-logo{
    position: absolute;
    height: 25%;
    width: 1.5%;
    /*background: blue;*/
    top:15%;
    left: 85%;
}

.m-user-logo{
    position: absolute;
    height: 25%;
    width: 2%;
    /*background: blue;*/
    top:15%;
    left: 90%;
}

.m-user-name{
    width: 10%;
    height: 10%;
    /*background: lightblue;*/
    position: absolute;
    left: 86%;
    top: 40%;
    font-family: Flama-Basic;
    text-align: center;
    font-size: 0.8vw;
}
.m-logout-logo{
    position: absolute;
    height: 25%;
    width: 2%;
    top:15%;
    left: 95%;
    cursor: pointer;
}

.v-img{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.video-dropdown{
    width: 12%;
    max-height: 100%;
    position: absolute;
    left: 65%;
    top: 50%;
    overflow-x: hidden;
    overflow: auto;
    z-index: 999999;
    border: 1px solid #ccc;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}


.v-drop-row{
    width: 100%;
    height: 30%;
    margin-bottom: 3%;
    display: flex;
    cursor: pointer;
}
.v-name{
    width: 80%;
    height: 100%;
    position: relative;
    left: 0%;
    font-family: Flama-Basic;
    font-size: 0.8vw;
    background: #000;
    color: #fff;
    padding: 3%;
}
.v-frame{
    width: 18%;
    height: 100%;
    position: relative;
    right: 0%;
    border: 1px solid #ccc;
}



